<form nz-form nzLayout="vertical" [formGroup]="form">
    <nz-form-item>
        <nz-form-control [nzErrorTip]="errorRef">
            <nz-form-label nzRequired>Заголовок</nz-form-label>
            <input nz-input required formControlName="title" />
            <ng-template #errorRef let-control>
                <ng-container *ngIf="control.hasError('required')">Обязательное поле</ng-container>
                <ng-container *ngIf="control.hasError('maxlength')">Заголовок должен быть меньше 255 символов</ng-container>
            </ng-template>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label>Валюта</nz-form-label>
        <nz-select formControlName="currency">
            <nz-option *ngFor="let c of currencies" [nzValue]="c.code" [nzLabel]="c.symbol"></nz-option>
        </nz-select>
    </nz-form-item>

    <nz-form-item>
        <label nz-checkbox formControlName="filterable">Фильтровать по полю</label>
    </nz-form-item>

    <nz-form-item>
        <label nz-checkbox formControlName="required">Обязательное поле</label>
    </nz-form-item>
</form>
