@import '~src/assets/styles/variables';

::ng-deep .ant-collapse-header {
    padding: $base-unit $base-unit * 2;
    background: white;
    border-radius: $border-radius !important;
}

::ng-deep .ant-collapse-content {
    border: none;
}

.price-filter {
    &__panel {
        background: white;
        box-shadow: $shadow;
        margin-bottom: $base-unit * 2;
        border-radius: $border-radius !important;
    }
}

.input {
    width: 50%;
}

::ng-deep .ant-input-group.ant-input-group-compact > :first-child {
    border-radius: $border-radius 0 0 $border-radius;
}

::ng-deep .ant-input-group.ant-input-group-compact > :last-child {
    border-radius: 0 $border-radius $border-radius 0;
}
