@import '~src/assets/styles/variables';

.input {
    width: 50%;
}

::ng-deep .ant-input-group.ant-input-group-compact > :first-child {
    border-radius: $border-radius 0 0 $border-radius;
}

::ng-deep .ant-input-group.ant-input-group-compact > :last-child {
    border-radius: 0 $border-radius $border-radius 0;
}
