<nz-modal [(nzVisible)]="showPhone" nzTitle="Номер" (nzOnCancel)="showPhone = !showPhone" (nzOnOk)="submitForm()">
    <form nz-form [formGroup]="formPhone">
        <nz-form-item>
            <nz-form-label for="phone">
                Изменить номер телефона
            </nz-form-label>
            <nz-form-control [nzSpan]="14">
                <input type="text" nz-input name="phone" id="phone" type="text" mask="+0 (000) 000 00 00" formControlName="phone" />
            </nz-form-control>
        </nz-form-item>
    </form>
</nz-modal>
