@import './src/assets/styles/variables';

.top-actions {
    padding-bottom: 20px;
}

.actions-box {
    display: flex;
    align-items: center;
    margin-bottom: $base-unit * 2;

    [nz-button] {
        margin-right: $base-unit;
    }
}

.table {
    margin-bottom: $base-unit * 2;
}

.pagination {
    display: flex;
    justify-content: center;
}
