<nz-collapse class="location-filter" nzGhost>
    <nz-collapse-panel class="location-filter__panel" nzExpandedIcon="caret-right" [nzHeader]="field?.title" [nzActive]="true">
        <ng-container *ngIf="area">
            <p>
                {{ area.title }}<br />
                Радиус: {{ area.radius }}
            </p>
        </ng-container>
        <a nz-button nzType="link" (click)="openLocationModal()">{{ area ? 'Изменить' : 'Указать' }}</a>
        <a *ngIf="area" nz-button nzType="text" nzDanger (click)="dropFilters()">Сбросить</a>
    </nz-collapse-panel>
</nz-collapse>
