@import 'src/assets/styles/variables';
@import 'src/assets/styles/mixins';

.profile-menu {
    &__avatar {
        cursor: pointer;
    }

    &__login-btn {
        @include sd-btn;
        color: $font-color;
    }

    &__login-btn-title {
        @media screen and (max-width: $bp-phone) {
            display: none;
        }
    }
}
