@import 'src/assets/styles/variables';

.products {
    &__list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: $base-unit * 2;
        grid-row-gap: $base-unit * 3;
        margin-bottom: $base-unit * 3;
    }

    &__promo-section-title {
        &--colored {
            color: $primary-red;
        }
    }

    &__promo-section {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: $base-unit * 2;
        grid-row-gap: $base-unit * 3;
        margin-bottom: $base-unit * 3;
    }
}
