<div *ngIf="!productsResponse || !productsResponse.totalCount">Здесь еще нет объявлений :)</div>
<div *ngIf="promoProducts" class="products__promo-section-wrapper">
    <h3>Специальные предложения</h3>
    <div class="products__promo-section">
        <app-product-card
            *ngFor="let promoProduct of promoProducts"
            [product]="promoProduct"
            [extraActions]="cardActions"
            (createBookmark)="addBookmarkEvent($event)"
            (deleteBookmark)="removeBookmarkEvent($event)"
        ></app-product-card>
    </div>
</div>
<div class="box__products">
    <ng-container *ngFor="let product of productsResponse?.products; index as i; trackBy: trackByFn">
        <app-product-card
            [product]="product"
            [extraActions]="cardActions"
            (createBookmark)="addBookmarkEvent($event)"
            (deleteBookmark)="removeBookmarkEvent($event)"
        ></app-product-card>
        <app-ad-campaign-card *ngIf="i === 4 && adCampaign && productsResponse?.products.length >= 7" [campaign]="adCampaign">
        </app-ad-campaign-card>
    </ng-container>
</div>
<app-pagination
    class="pagination"
    *ngIf="productsResponse?.totalCount > productsResponse?.limit"
    [pageIndex]="productsResponse?.page"
    [totalItems]="productsResponse?.totalCount"
    [pageSize]="productsResponse?.limit"
    (changePage)="changePage($event)"
></app-pagination>
