<h3 nz-typography>{{ title }}</h3>
<ng-container #fields></ng-container>
<button nz-dropdown [disabled]="!section" [nzDisabled]="!section" nz-button [nzDropdownMenu]="menu" nzType="dashed" nzTrigger="click">
    <i nz-icon nzType="plus"></i>
    Добавить поле
</button>
<nz-dropdown-menu #menu="nzDropdownMenu">
    <ul nz-menu>
        <li nz-menu-item (click)="createField(input.type, section)" *ngFor="let input of availableFields">
            {{ input.title }}
        </li>
    </ul>
</nz-dropdown-menu>
