<h2 nz-typography>Новое объявление</h2>

<nz-skeleton-element
    *ngIf="loadingCategories$ | async; else selectCategory"
    class="category-loading"
    nzType="input"
    nzSize="large"
    [nzActive]="true"
></nz-skeleton-element>

<ng-template #selectCategory>
    <nz-cascader
        class="category-selector"
        [nzAllowClear]="false"
        [nzSize]="'large'"
        [nzOptions]="categoryTree$ | async"
        [(ngModel)]="selectedCategoriesIds"
        [nzPlaceHolder]="'Выберите категорию'"
        (ngModelChange)="onCategorySelect($event)"
    >
    </nz-cascader>
</ng-template>

<app-product-form
    *ngIf="(loadingForm$ | async) === false && selectedCategoriesIds && selectedCategoriesIds.length"
    [product]="product"
    (submitForm)="save($event)"
>
</app-product-form>
