<nz-header>
    <div class="container">
        <nz-row [nzJustify]="'space-between'">
            <nz-col></nz-col>
            <nz-col>
                <a routerLink="/admin" nz-button nzType="link">Управление сайтом</a>
                <button routerLink="/adverts/create" nz-button nzType="primary" nzShape="round">
                    <i nz-icon nzType="plus"></i>
                    <span>Разместить объявление</span>
                </button>
            </nz-col>
        </nz-row>
    </div>
</nz-header>
