<div class="container header">
    <div class="logo">
        <a routerLink="/">Smart Desk</a>
    </div>
    <div class="category">
        <nz-cascader
            class="category-selector"
            [nzShowInput]="false"
            [nzAllowClear]="false"
            [nzOptions]="categoryTree$ | async"
            [(ngModel)]="selectedCategoriesIds"
            [nzPlaceHolder]="'Выберите категорию'"
            (ngModelChange)="onCategorySelect($event)"
            [nzExpandTrigger]="'hover'"
            nzChangeOnSelect
        >
            <button nz-button nzType="primary" nzShape="round"><i nz-icon nzType="unordered-list" nzTheme="outline"></i>Категория</button>
        </nz-cascader>
    </div>
    <div class="search">
        <nz-input-group nzSearch [nzAddOnBefore]="prefix" [nzAddOnAfter]="suffixButton">
            <input type="text" nz-input placeholder="Поиск по объявлениям" />
        </nz-input-group>
        <ng-template #suffixButton>
            <button nz-button nzSearch>Найти</button>
        </ng-template>
        <ng-template #prefix>
            <i nz-icon nzType="search" prefix></i>
        </ng-template>
    </div>
    <div>
        <button routerLink="/adverts/create" nz-button nzType="primary" nzShape="round">
            <i nz-icon nzType="plus"></i>
            <span>Разместить объявление</span>
        </button>
    </div>
</div>
