<div class="text_editor">
    <div class="text_editor__form-container">
        <p nz-typography nzType="secondary" class="text_editor__title">
            <span>Текст</span>
            <button
                nz-popconfirm
                nzPopconfirmTitle="Вы уверены что хотите удалить поле?"
                nzPopconfirmPlacement="top"
                nzCancelText="Отмена"
                nzOkText="Удалить"
                (nzOnConfirm)="delete()"
                nz-button
                nzType="link"
                nzSize="small"
                nzShape="circle"
            >
                <i nz-icon nzType="delete" nzTheme="outline"></i>
            </button>
        </p>

        <quill-editor></quill-editor>
        <nz-row class="text_editor__item" nzAlign="middle">
            <nz-col nzSpan="12" class="text_editor__action-buttons text_editor__action-buttons--align-right">
                <button nz-button nzType="primary" (click)="save()" [nzLoading]="state === OperationState.LOADING">OK</button>
            </nz-col>
        </nz-row>
    </div>
</div>
