@import '~src/assets/styles/variables';

.create-ad-campaign {
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    padding-top: $base-unit * 5;
    margin-right: 0;

    &__form-wrap,
    &__rate,
    &__total-rate {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__form {
        width: $base-unit * 50;
    }
    &__submit {
        position: absolute;
        bottom: 0;
        right: 0;
    }
}
