<app-search *ngIf="showSearch" [searchPhrase]="''" [placeholder]="" (searchChange)="search($event)"></app-search>
<div class="box__adverts">
    <app-advert-card
        *ngFor="let advert of advertsResponse?.adverts"
        [advert]="advert"
        (createBookmark)="createBookmark.emit($event)"
        (deleteBookmark)="deleteBookmark.emit($event)"
    ></app-advert-card>
</div>
<app-pagination
    class="pagination"
    *ngIf="advertsResponse?.totalCount > advertsResponse?.limit"
    [pageIndex]="advertsResponse?.page"
    [totalItems]="advertsResponse?.totalCount"
    [pageSize]="advertsResponse?.limit"
    (changePage)="changePage.emit($event)"
></app-pagination>
