<ng-container *ngTemplateOutlet="meta"></ng-container>
<ng-container *ngIf="isTemplate(title); else titleStringTmp">
    <ng-container *ngTemplateOutlet="title"></ng-container>
</ng-container>
<ng-template #titleStringTmp>
    <h1 class="content-layout__title">{{ title }}</h1>
</ng-template>

<nz-row [nzGutter]="16">
    <nz-col *ngIf="left" [nzXs]="{ span: 24, order: 1 }" [nzSm]="{ span: 24, order: 1 }" [nzMd]="{ span: 6, order: 1 }">
        <ng-container *ngTemplateOutlet="left"></ng-container>
    </nz-col>
    <nz-col *ngIf="main" [nzXs]="{ span: 24, order: 2 }" [nzSm]="{ span: 24, order: 2 }" [nzMd]="right || left ? 18 : 24">
        <ng-container *ngTemplateOutlet="main"></ng-container>
    </nz-col>
    <nz-col *ngIf="right" [nzXs]="{ span: 24, order: 1 }" [nzSm]="{ span: 24, order: 1 }" [nzMd]="{ span: 6, order: 2 }">
        <ng-container *ngTemplateOutlet="right"></ng-container>
    </nz-col>
</nz-row>
