<nz-layout class="admin__layout">
    <nz-header>
        <nz-row [nzJustify]="'space-between'">
            <nz-col>
                <a routerLink="/" class="admin__logo">Smart Desk</a>
            </nz-col>
            <nz-col>
                <!-- todo make it reusable -->
                <span class="admin__name">{{ user?.firstName }} {{ user?.lastName }}</span>
                <nz-avatar class="admin__avatar" [nzSrc]="user?.avatar" nzIcon="user" [nzSize]="32"></nz-avatar>
            </nz-col>
        </nz-row>
    </nz-header>
    <nz-layout>
        <nz-sider nzTheme="light" [nzWidth]="300">
            <app-admin-menu></app-admin-menu>
        </nz-sider>
        <nz-content class="admin__content">
            <router-outlet></router-outlet>
        </nz-content>
    </nz-layout>
</nz-layout>
