@import 'src/assets/styles/variables';

.navigation-header {
    margin: $base-unit * 2 0 0;

    &__menu-item {
        display: inline-block;
        color: $font-color;
        margin-left: $base-unit * 3;
    }
}
