@import 'src/assets/styles/variables';

.navigation-header {
    margin: $base-unit * 2 0 $base-unit;

    &__menu-item {
        display: inline-block;
        color: $font-color;
        font-size: $font-16;
        margin-left: $base-unit * 3;
    }
}
