<div class="container">
    <div class="navigation-header">
        <nz-row [nzJustify]="'space-between'">
            <nz-col></nz-col>
            <nz-col>
                <nz-row [nzJustify]="'space-between'">
                    <nz-col>
                        <a class="navigation-header__menu-item" *ngIf="isAdmin" [routerLink]="['admin']">
                            <i nz-icon nzType="export" nzTheme="outline"></i>
                            Управление сайтом
                        </a>
                    </nz-col>
                    <nz-col>
                        <a class="navigation-header__menu-item" *ngIf="user" [routerLink]="['profile', 'bookmarks']">
                            <i nz-icon nzType="heart" nzTheme="outline"></i>
                            Избранное
                        </a>
                    </nz-col>
                    <nz-col>
                        <a class="navigation-header__menu-item" *ngIf="user" (click)="openChat()">
                            <i nz-icon nzType="message" nzTheme="outline"></i>
                            Сообщения
                        </a>
                    </nz-col>
                </nz-row>
            </nz-col>
        </nz-row>
    </div>
</div>
