<form nz-form nzLayout="vertical" [formGroup]="form">
    <nz-form-item>
        <nz-form-label>Заголовок</nz-form-label>
        <input nz-input required formControlName="title" />
    </nz-form-item>
    <nz-form-item>
        <nz-form-label>Валюта</nz-form-label>
        <nz-select formControlName="currency">
            <nz-option *ngFor="let c of currencies" [nzValue]="c.code" [nzLabel]="c.symbol"></nz-option>
        </nz-select>
    </nz-form-item>

    <nz-form-item>
        <label nz-checkbox formControlName="filterable">Фильтровать по полю</label>
    </nz-form-item>

    <nz-form-item>
        <label nz-checkbox formControlName="required">Обязательное поле</label>
    </nz-form-item>
</form>
