<nz-page-header>
    <nz-page-header-title>Настройки сайта</nz-page-header-title>
    <nz-page-header-subtitle>Тут вы сможете настроить ваш сайт</nz-page-header-subtitle>
</nz-page-header>

<div class="app-config__content">
    <h3>Лого сайта</h3>
    <nz-upload
        nzAction="/s3/image"
        nzListType="picture-card"
        [nzFileList]="file"
        nzAccept="image/png, image/jpeg"
        [nzSize]="10000"
        [nzLimit]="1"
        (nzChange)="fileChanged($event)"
    >
        <div>
            <i nz-icon nzType="plus"></i>
            <div style="margin-top: 8px;">Upload</div>
        </div>
    </nz-upload>
</div>
