<ng-container *ngIf="field?.params">
    <form nz-form nzLayout="vertical" [formGroup]="form">
        <nz-form-item>
            <nz-form-label [nzRequired]="field.required">{{ field.title }}</nz-form-label>
            <nz-form-control class="price__input-group">
                <nz-input-group [nzAddOnAfter]="currencySymbolTemp">
                    <input nz-input formControlName="value" name="currency" placeholder="Введите цену" type="number" min="0" step="any" />
                </nz-input-group>
                <ng-template #currencySymbolTemp>{{ currencySymbol }}</ng-template>
            </nz-form-control>
        </nz-form-item>
    </form>
</ng-container>
