<form nz-form nzLayout="vertical" [formGroup]="form">
    <nz-form-item>
        <nz-form-label nzRequired nzFor="title">Заголовок</nz-form-label>
        <nz-form-control [nzErrorTip]="errorRef">
            <input nz-input formControlName="title" name="title" placeholder="Заголовок" formGroupName="title" />
            <ng-template #errorRef let-control>
                <ng-container *ngIf="control.hasError('required')">Обязательное поле</ng-container>
                <ng-container *ngIf="control.hasError('maxlength')">Заголовок должен быть меньше 255 символов</ng-container>
            </ng-template>
        </nz-form-control>
    </nz-form-item>

    <nz-form-item>
        <label nz-checkbox formControlName="filterable">Фильтровать по полю</label>
    </nz-form-item>

    <nz-form-item>
        <label nz-checkbox formControlName="required">Обязательное поле</label>
    </nz-form-item>
</form>
