<p nz-typography>{{ address || 'Не выбрано' }}</p>

<form nz-form>
    <nz-form-item>
        <nz-form-control>
            <input #search nz-input name="title" placeholder="Введите адрес" />
        </nz-form-control>
    </nz-form-item>
</form>

<agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" (mapReady)="mapReadyHandler($event)"></agm-map>
<div class="button-wrap">
    <button nz-button nzType="default" (click)="closeModal()">Отмена</button>
    <button nz-button nzType="primary" (click)="saveAddress()">Ок</button>
</div>
