@import './src/assets/styles/variables';

.admin {
    &__layout {
        height: 100%;
    }

    &__logo {
        display: inline-block;
        color: white;
    }

    &__content {
        padding: 0 $base-unit * 3 $base-unit * 3;
    }

    &__name {
        color: white;
    }

    &__avatar {
        margin-left: $base-unit;
    }
}
