<nz-layout>
    <nz-header></nz-header>
    <nz-layout>
        <nz-sider nzTheme="light">
            <ul nz-menu>
                <li nz-menu-item routerLink="/admin/models">
                    <i nz-icon nzType="apartment" nzTheme="outline"></i>
                    <span>Модели</span>
                </li>
            </ul>
        </nz-sider>
        <nz-content class="admin__content">
            <router-outlet></router-outlet>
        </nz-content>
    </nz-layout>
    <nz-footer>Smart Desk (c) All Rights Reserved</nz-footer>
</nz-layout>
