<app-content-layout [left]="left" [main]="main"></app-content-layout>

<ng-template #left>
    <app-breadcrumbs [steps]="breadcrumbs"></app-breadcrumbs>
    <app-user-info [user]="profile"></app-user-info>
</ng-template>

<ng-template #main>
    <div class="profile__section">
        <h3 nz-typography>
            <nz-avatar [nzSrc]="profile?.avatar" nzIcon="user" [nzSize]="32"></nz-avatar>
            {{ profile?.firstName }} {{ profile?.lastName }}
        </h3>
        <a (click)="openFormName()">Изменить</a>
    </div>

    <div class="profile__section">
        <h3 nz-typography>{{ profile?.phone }}</h3>
        <div *ngIf="profile?.phone && !profile?.isPhoneVerified">
            <a (click)="openFormConfirmPhone()">Подтвердить</a>
            <span class="cell-action__separate">/</span>
        </div>
        <a (click)="openFormChangePhone()">Изменить</a>
    </div>

    <div class="profile__section">
        <h3 nz-typography>Уведомления</h3>
        <ul>
            <li *ngIf="notificationEnabled(notificationTypes.CHAT_MESSAGE)">Сообщения чата</li>
            <li *ngIf="notificationEnabled(notificationTypes.PRODUCT_PUBLISHED)">Уведомления об изменениях объявлений и пользователя</li>
        </ul>
        <a (click)="setUpNotifications()">Настроить</a>
    </div>
</ng-template>
