@import '../../../../../../../assets/styles/variables';

.profile {
    &__section {
        background: $primary-white;
        border-radius: $border-radius;
        box-shadow: $shadow;
        margin-bottom: $base-unit * 2;
        padding: $base-unit * 2;
    }
}
