@import '../../../../../../../assets/styles/variables';

.cell-action {
    display: flex;

    &__separate {
        margin: 0 $base-unit;
    }
}

.profile-table {
    margin: $base-unit * 9 0 $base-unit * 3 0;
}
