@import '~src/assets/styles/variables';

.textarea {
    margin-bottom: $base-unit * 3;
    max-width: $base-unit * 40;

    &__title {
        margin-bottom: $base-unit;
    }

    // redefine ng.ant styles
    h4.textarea__label {
        margin-top: 0;
        margin-bottom: 0;
    }

    &__label-additional {
        font-style: italic;
        font-size: 14px;
        font-weight: normal;
    }

    &__form-container {
        margin-top: $base-unit;
    }

    &__action-buttons {
        &--align-right {
            text-align: right;
        }
    }

    &__item {
        margin-bottom: $base-unit;
    }
}
