<form nz-form nzLayout="vertical" [formGroup]="form">
    <nz-form-item>
        <nz-form-control>
            <nz-form-label>Максимальное количество фотографий</nz-form-label>
            <input nz-input formControlName="max" name="max" required placeholder="Max amount" type="number" />
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-control>
            <nz-form-label>Минимальное количество фотографий</nz-form-label>
            <input nz-input formControlName="min" name="min" required placeholder="Min amount" type="number" />
        </nz-form-control>
    </nz-form-item>
    <button nz-button nzType="primary" (click)="save()" [nzLoading]="state === operationState.LOADING">Save</button>
</form>
