<ng-container *ngIf="field?.data as data">
    <form nz-form nzLayout="vertical" class="input-text">
        <nz-form-item>
            <nz-form-label [nzRequired]="data.required">{{ data.label }}</nz-form-label>
            <nz-form-control>
                <input
                    nz-input
                    [(ngModel)]="value"
                    [required]="data.required"
                    [placeholder]="data.placeholder"
                    [ngModelOptions]="{ standalone: true }"
                />
            </nz-form-control>
        </nz-form-item>
    </form>
</ng-container>
