<nz-page-header>
    <nz-page-header-title>Рекламные кампании</nz-page-header-title>
</nz-page-header>

<nz-radio-group [(ngModel)]="status" nzButtonStyle="solid" (ngModelChange)="changeStatus()" class="top-actions">
    <label nz-radio-button [nzValue]="null">Все</label>
    <label nz-radio-button [nzValue]="adCampaignStatus.PENDING">В ожидании</label>
    <label nz-radio-button [nzValue]="adCampaignStatus.APPROVED">Одобренные</label>
    <label nz-radio-button [nzValue]="adCampaignStatus.REJECTED">Отклоненные</label>
    <label nz-radio-button [nzValue]="adCampaignStatus.PAID">Активные</label>
</nz-radio-group>

<nz-table class="table" [nzTemplateMode]="true" [nzFrontPagination]="true">
    <thead>
        <tr>
            <th>Ссылка</th>
            <th>Статус</th>
            <th>Дата начала</th>
            <th>Дата окончания</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let campaign of adCampaigns">
            <td>
                <a [href]="campaign.link" target="_blank">{{ campaign.link }}</a>
            </td>
            <td>{{ campaign.status }}</td>
            <td>{{ campaign.startDate }}</td>
            <td>{{ campaign.endDate }}</td>
            <td>
                <a (click)="viewAdCampaign(campaign.id)">Просмотреть</a>
                <ng-container *ngIf="status !== adCampaignStatus.APPROVED">
                    <nz-divider nzType="vertical"></nz-divider>
                    <a (click)="approveCampaign(campaign.id)">Одобрить</a>
                </ng-container>
                <ng-container *ngIf="status !== adCampaignStatus.REJECTED">
                    <nz-divider nzType="vertical"></nz-divider>
                    <a (click)="openRejectModal(campaign.id)">Отклонить</a>
                </ng-container>
            </td>
        </tr>
    </tbody>
</nz-table>
