<nz-page-header>
    <nz-page-header-title>Рекламные объявления в ожидании</nz-page-header-title>
</nz-page-header>
<nz-table class="table" [nzTemplateMode]="true" [nzFrontPagination]="true">
    <thead>
        <tr>
            <th>Ссылка</th>
            <th>Статус</th>
            <th>Дата создания</th>
            <th>Дата окончания</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let ad of adCampaigns">
            <td>
                <a [href]="ad.link" target="_blank">{{ ad.link }}</a>
            </td>
            <td>{{ ad.status }}</td>
            <td>{{ formatDate(ad.startDate) }}</td>
            <td>{{ formatDate(ad.endDate) }}</td>
            <td>
                <a (click)="viewAdCampaign(ad.id)">Просмотр</a>
            </td>
        </tr>
    </tbody>
</nz-table>
