<nz-affix [nzOffsetTop]="0" (nzChange)="onHeaderSticky($event)">
    <div class="header-wrapper" [class.header-wrapper--sticky]="isHeaderSticky">
        <div class="container header">
            <app-logo class="header__logo"></app-logo>
            <button #categoryButton nz-button class="header__category-button" (click)="toggleMenu()">
                <i nz-icon nzType="align-right" nzTheme="outline"></i>
                <span class="header__category-button-title">Категория</span>
            </button>
            <div #categoryMenu class="header__category-shadow-wrap" [hidden]="!isMenuOpen">
                <div class="header__category-menu-wrap">
                    <app-category-menu
                        [activeCategory]="currentCategory"
                        [categories]="categories$ | async"
                        (selectCategory)="onCategorySelect($event)"
                    ></app-category-menu>
                </div>
            </div>
            <app-search [searchPhrase]="searchPhrase" [placeholder]="getSearchPlaceholder()" (searchChange)="search($event)"></app-search>
            <button class="header__new-button" (click)="navigateToProductCreate()" nz-button>
                <i nz-icon nzType="plus"></i>
                <span class="header__new-button-title">Разместить объявление</span>
            </button>
            <app-profile-menu class="header__profile-menu"></app-profile-menu>
        </div>
    </div>
</nz-affix>
