<nz-affix [nzOffsetTop]="0" (nzChange)="onHeaderSticky($event)">
    <div class="header-wrapper" [class.header-wrapper--sticky]="isHeaderSticky">
        <div class="container header">
            <div class="header__logo">
                <a (click)="navigateToMain()">
                    <img *ngIf="!logo" [src]="'../../../../../assets/images/smart-desk-logo.svg'" alt="На главную" />
                    <ik-image *ngIf="logo" [path]="logo" [transformation]="[{ height: 60 }]"></ik-image>
                </a>
            </div>
            <button #categoryButton nz-button class="header__category-button" (click)="toggleMenu()">
                <i nz-icon nzType="align-right" nzTheme="outline"></i>
                Категория
            </button>
            <div #categoryMenu class="header__category-shadow-wrap" [hidden]="!isMenuOpen">
                <div class="header__category-menu-wrap">
                    <app-category-menu [categoryActive]="currentCategory" (selectCategory)="onCategorySelect($event)"></app-category-menu>
                </div>
            </div>
            <app-search [searchPhrase]="searchPhrase" [placeholder]="getSearchPlaceholder()" (searchChange)="search($event)"></app-search>
            <button class="header__new-button" (click)="navigateToProductCreate()" nz-button>
                <i nz-icon nzType="plus"></i>
                Разместить объявление
            </button>
            <app-profile-menu></app-profile-menu>
        </div>
    </div>
</nz-affix>
