<div class="container header">
    <div class="logo">
        <a (click)="navigateToMain()">Смарт деск</a>
    </div>
    <div class="category">
        <nz-cascader
            class="category-selector"
            [nzShowInput]="false"
            [nzAllowClear]="false"
            [nzOptions]="categoryTree$ | async"
            [(ngModel)]="selectedCategoriesIds"
            [nzPlaceHolder]="'Выберите категорию'"
            (ngModelChange)="onCategorySelect($event)"
            [nzExpandTrigger]="'hover'"
            nzChangeOnSelect
        >
            <button nz-button nzType="primary" nzShape="round"><i nz-icon nzType="unordered-list" nzTheme="outline"></i>Категория</button>
        </nz-cascader>
    </div>
    <div class="search-box">
        <app-search [searchPhrase]="searchPhrase" [placeholder]="getSearchPlaceholder()" (searchChange)="search($event)"></app-search>
    </div>
    <div>
        <button (click)="navigateToAdvertCreate()" nz-button nzType="primary" nzShape="round">
            <i nz-icon nzType="plus"></i>
            <span>Разместить объявление</span>
        </button>
    </div>
</div>
