@import 'src/assets/styles/variables';

.chat_list {
    height: 100%;
    background: $grey-light-bg;
    overflow: auto;

    &__item {
        border-right: 1px solid $grey-light;
        cursor: pointer;
        padding-left: $base-unit * 2;

        &.active {
            border-right: none;
            background: white;
        }
    }
}
