<p *ngIf="!chats?.length">
    Пока что у вас нет переписок
</p>

<nz-list>
    <nz-list-item *ngFor="let chat of chats" (click)="changeChat.emit(chat)" [class]="{ active: chat === activeChat }">
        <nz-list-item-meta nzAvatar="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png" [nzDescription]="chat.advertId">
            <nz-list-item-meta-title>
                <a>{{ chat.user2 }}</a>
            </nz-list-item-meta-title>
        </nz-list-item-meta>
    </nz-list-item>
</nz-list>
