<app-content-layout [title]="advert?.title" [main]="main" [right]="right"></app-content-layout>

<ng-template #main>
    <div class="meta"><i nz-icon nzType="eye" nzTheme="outline"></i> {{ advert?.views }}</div>
    <ng-container #params></ng-container>
    <section class="similar">
        <h1>Похожие объявления</h1>
        <app-adverts
            [advertsResponse]="similarAdverts"
            (createBookmark)="addBookmarkEvent($event)"
            (deleteBookmark)="removeBookmarkEvent($event)"
        >
        </app-adverts>
    </section>
</ng-template>

<ng-template #right>
    <div>
        <ng-container #price></ng-container>
    </div>
    <div class="user" *ngIf="user" [routerLink]="['/', 'user', user.id]">
        <nz-avatar [nzSrc]="user?.avatar" nzIcon="user" nzSize="large"></nz-avatar>
        <h3>{{ user?.firstName }} {{ user?.lastName }}</h3>
    </div>
    <div>
        <h2>Местоположение</h2>
        <ng-container #location></ng-container>
    </div>
    <div>
        <button nz-button nzBlock nzType="primary" (click)="openChat()">Написать сообщение</button>
    </div>
    <div class="contacts" *ngIf="isShowPhone">{{ userPhone }}</div>
    <button nzBlock class="contacts" nz-button (click)="showPhone()" *ngIf="!isShowPhone">Показать телефон</button>
</ng-template>
