<ng-container *ngIf="advert">
    <h1>{{ advert.title }}</h1>
</ng-container>
<nz-row [nzGutter]="16">
    <nz-col nzFlex="auto">
        <ng-container #params></ng-container>
    </nz-col>
    <nz-col nzFlex="300px">
        <div>
            <h2>Цена</h2>
            <ng-container #price></ng-container>
        </div>
        <div>
            <h2>Контакты</h2>
            <ng-container #contacts></ng-container>
        </div>
        <div>
            <h2>Местоположение</h2>
            <ng-container #location></ng-container>
        </div>
    </nz-col>
</nz-row>
