<ng-container *ngIf="advert">
    <h1>{{ advert.title }}</h1>
</ng-container>
<nz-row [nzGutter]="16">
    <nz-col [nzSpan]="18">
        <ng-container #params></ng-container>
    </nz-col>
    <nz-col [nzSpan]="6">
        <div>
            <ng-container #price></ng-container>
        </div>
        <div class="user" *ngIf="user">
            <nz-avatar nzIcon="user" nzSize="large"></nz-avatar>
            <h3>{{ user?.firstName }} {{ user?.lastName }}</h3>
        </div>
        <div>
            <h2>Местоположение</h2>
            <ng-container #location></ng-container>
        </div>
    </nz-col>
</nz-row>
