@use "sass:math";
@import 'src/assets/styles/variables';

.category {
    &__menu {
        display: flex;
    }

    &__column {
        width: 25%;
        border-right: 1px solid $grey-light;
    }

    &__image {
        padding: $base-unit $base-unit * 2;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: default;
    }

    &__item {
        padding: $base-unit $base-unit * 2;
        cursor: pointer;
        position: relative;

        &--parent {
            &:after {
                content: '>';
                position: absolute;
                right: $base-unit * 2;
            }
        }

        &--active {
            background-color: $grey-light;
        }

        &:hover {
            background-color: $grey-light;
        }
    }
}
