<div class="category__menu">
    <ul class="category__column category__column--parent">
        <li
            class="category__item"
            [class.active]="category.value === categoryActive"
            *ngFor="let category of categoryTree"
            (mouseenter)="categoryHover(category)"
            (mouseleave)="categoryHover()"
            (click)="selectParent(category, $event)"
        >
            {{ category.label }}
            <ul class="category__column category__column--child">
                <ng-container>
                    <h3 class="category__title">
                        <b>{{ category.label }}</b>
                    </h3>
                    <li
                        class="category__item category__item--child"
                        *ngFor="let child of category.children"
                        (mouseenter)="categoryHover(child)"
                        (mouseleave)="categoryHover()"
                        (click)="selectChild(child, $event)"
                    >
                        {{ child.label }}
                    </li>
                </ng-container>
            </ul>
        </li>
    </ul>
    <ik-image
        *ngIf="!!category?.img"
        class="category__image"
        [path]="category?.img"
        [transformation]="[{ width: 250, height: 250 }]"
    ></ik-image>
</div>
