@use "sass:math";
@import 'src/assets/styles/variables';

.category {
    &__menu {
        display: flex;
    }

    &__title {
        padding: math.div($base-unit, 4) $base-unit * 2;
    }

    &__column {
        width: 33%;
        border-right: 1px solid $grey-light;
    }

    &__image {
        padding: $base-unit $base-unit * 2;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: default;
    }

    &__item {
        padding: $base-unit $base-unit * 2;
        cursor: pointer;

        &--child {
            color: $primary-blue;
        }
    }

    &__item--active {
        background-color: $grey-light;
    }
}
