<div *ngIf="!advertsResponse || !advertsResponse.totalCount">Здесь еще нет объявлений :)</div>
<div class="box__adverts">
    <app-advert-card
        *ngFor="let advert of advertsResponse?.products; trackBy: trackByFn"
        [advert]="advert"
        [extraActions]="cardActions"
        (createBookmark)="addBookmarkEvent($event)"
        (deleteBookmark)="removeBookmarkEvent($event)"
    ></app-advert-card>
</div>
<app-pagination
    class="pagination"
    *ngIf="advertsResponse?.totalCount > advertsResponse?.limit"
    [pageIndex]="advertsResponse?.page"
    [totalItems]="advertsResponse?.totalCount"
    [pageSize]="advertsResponse?.limit"
    (changePage)="changePage($event)"
></app-pagination>
