<div class="product-card">
    <ik-image
        [routerLink]="['/', 'products', product.id]"
        [path]="thumb || '/public/not-found.png'"
        [transformation]="[{ width: 200, height: 140 }]"
    ></ik-image>
    <div class="product-card__info" [class.product-card__info--promo]="promo">
        <h3 class="product-card__title">
            <span>{{ title }}</span>
            <span class="product-card__title-icon" [class.product-card__title-icon--active]="product?.isBookmark">
                <i nz-icon (click)="toggleBookmark(product.id)" nzType="heart" [nzTheme]="product?.isBookmark ? 'fill' : 'outline'"></i>
            </span>
        </h3>
        <p class="product-card__desc">{{ description }}</p>
    </div>
    <div *ngIf="extraActions?.length" class="product-card__actions">
        <i
            class="product-card__action-icon"
            nz-icon
            nzType="ellipsis"
            nzTheme="outline"
            nz-dropdown
            [nzDropdownMenu]="menu"
            nzTrigger="click"
        ></i>
        <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu nzSelectable>
                <li nz-menu-item *ngFor="let action of extraActions" (click)="action.action(product)">{{ action.title }}</li>
            </ul>
        </nz-dropdown-menu>
    </div>
</div>
