<div class="product-card" [routerLink]="['/', 'products', product.id]">
    <ik-image [path]="thumb || '/public/not-found.png'" [transformation]="[{ width: 250, height: 180 }]"></ik-image>
    <div class="product-card__info" [class.product-card__info--promo]="promo">
        <h3 class="product-card__title">
            <span>{{ title }}</span>
            <span class="product-card__title-icon" [class.product-card__title-icon--active]="product?.isBookmark">
                <i
                    *ngIf="showBookmarksIcon"
                    nz-icon
                    (click)="toggleBookmark(product.id, $event)"
                    nzType="heart"
                    [nzTheme]="product?.isBookmark ? 'fill' : 'outline'"
                ></i>
            </span>
        </h3>
        <p class="product-card__desc">{{ description }}</p>
    </div>
    <div *ngIf="extraActions?.length" class="product-card__actions">
        <button
            class="product-card__action-btn"
            nz-button
            nz-dropdown
            nzType="default"
            nzSize="small"
            [nzDropdownMenu]="menu"
            nzTrigger="click"
            (click)="$event.stopPropagation()"
        >
            <i nz-icon nzTheme="outline" nzType="ellipsis"></i>
        </button>
        <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu nzSelectable>
                <li nz-menu-item *ngFor="let action of extraActions" (click)="action.action(product)">{{ action.title }}</li>
            </ul>
        </nz-dropdown-menu>
    </div>
</div>
