@import 'src/assets/styles/variables';

.key-value {
    display: flex;
    font-size: $font-16;
    margin-bottom: $base-unit * 2;

    @media screen and (max-width: $bp-tablet) {
        flex-direction: column;
    }

    &__key-wrapper {
        min-width: $base-unit * 40;
        display: flex;
    }

    &__key {
        color: $font-color-gray;
    }

    &__semicolon {
        display: none;

        @media screen and (max-width: $bp-tablet) {
            display: inline;
        }
    }

    &__line {
        flex: 1;
        align-self: flex-start;
        min-height: 18px;
        background-image: linear-gradient(to right, #{$font-color-gray} 33%, rgba(255, 255, 255, 0) 0%);
        background-position: bottom;
        background-size: 3px 1px;
        background-repeat: repeat-x;
        margin: 0 3px 6px;

        @media screen and (max-width: $bp-tablet) {
            display: none;
        }
    }
}
