<div class="chat_list">
    <nz-list>
        <nz-list-item
            class="chat_list__item"
            *ngFor="let chat of chats"
            (click)="changeActiveChat(chat)"
            [class]="{ active: chat === activeChat }"
        >
            <nz-list-item-meta>
                <nz-list-item-meta-avatar>
                    <nz-badge [nzCount]="chat?.unreadMessagesCount">
                        <nz-avatar [nzSrc]="getConversationalist(chat)?.avatar" nzIcon="user"></nz-avatar>
                    </nz-badge>
                </nz-list-item-meta-avatar>
                <nz-list-item-meta-description>
                    <a [routerLink]="['/', 'adverts', chat.productId]">{{ chat.productData?.title }}</a>
                </nz-list-item-meta-description>
                <nz-list-item-meta-title>
                    <a *ngIf="currentUser" [routerLink]="['/', 'user', getConversationalist(chat)?.id]">
                        {{ getConversationalist(chat)?.firstName }}
                    </a>
                    <span *ngIf="isAdmin(getConversationalist(chat))" nz-typography nzType="success">&nbsp;Администратор</span>
                </nz-list-item-meta-title>
            </nz-list-item-meta>
        </nz-list-item>
    </nz-list>
</div>
