@import '~src/assets/styles/variables';

:host {
    border-right: 1px solid $grey-light;

    @media screen and (max-width: $bp-tablet) {
        display: block;
        height: 100vh;
        border-right: none;
    }
}

.chat_list {
    height: 100%;
    background: $grey-light-bg;
    overflow: auto;

    &__item {
        cursor: pointer;
        padding-left: $base-unit * 2;

        &.active {
            border-right: none;
            background: white;
        }
    }
}
