<app-content-layout [main]="main" [left]="left"></app-content-layout>

<ng-template #main>
    <nz-tabset [nzAnimated]="false">
        <nz-tab nzTitle="Активные">
            <app-adverts
                (createBookmark)="createBookmark($event)"
                (deleteBookmark)="deleteBookmark($event)"
                [advertsResponse]="advertResponse"
            ></app-adverts>
        </nz-tab>
        <nz-tab nzTitle="Завершенные">
            <app-adverts
                (createBookmark)="createBookmark($event)"
                (deleteBookmark)="deleteBookmark($event)"
                [advertsResponse]="completedAdverts"
            ></app-adverts>
        </nz-tab>
    </nz-tabset>
</ng-template>

<ng-template #left>
    <app-user-info [user]="user"></app-user-info>
</ng-template>
