<app-content-layout [main]="main" [left]="left"></app-content-layout>

<ng-template #main>
    <nz-tabset [nzAnimated]="false">
        <nz-tab nzTitle="Активные">
            <div class="box__advert" *ngFor="let advert of advertResponse?.adverts">
                <app-advert-card [advert]="advert" (addBookmark)="addBookmark($event)"></app-advert-card>
            </div>
        </nz-tab>
        <nz-tab nzTitle="Завершенные">
            <!-- todo -->
            <p>Todo</p>
        </nz-tab>
    </nz-tabset>
</ng-template>

<ng-template #left>
    <app-user-info [user]="user"></app-user-info>
</ng-template>
