<app-content-layout title="Мои объявления" [main]="main" [left]="left"></app-content-layout>

<ng-template #left>
    <app-user-info [user]="user"></app-user-info>
</ng-template>

<ng-template #main>
    <nz-tabset [nzAnimated]="false">
        <nz-tab nzTitle="Активные" (nzClick)="getProducts(productStatus.ACTIVE)">
            <app-products [productsResponse]="activeProductsResponse" [cardActions]="activeProductsActions"> </app-products>
        </nz-tab>
        <nz-tab nzTitle="На модерации" (nzClick)="getProducts(productStatus.PENDING)">
            <app-products [productsResponse]="pendingProductsResponse" [cardActions]="pendingProductsActions"> </app-products>
        </nz-tab>
        <nz-tab nzTitle="Заблокированные" (nzClick)="getProducts(productStatus.BLOCKED)">
            <app-products [productsResponse]="blockedProductsResponse" [cardActions]="blockedProductsActions"> </app-products>
        </nz-tab>
        <nz-tab nzTitle="Завершенные" (nzClick)="getProducts(productStatus.COMPLETED)">
            <app-products [productsResponse]="completedProductsResponse" [cardActions]="completedProductsActions"> </app-products>
        </nz-tab>
    </nz-tabset>
</ng-template>
