<app-content-layout title="Мои объявления" [main]="main" [left]="left"></app-content-layout>

<ng-template #left>
    <app-user-info [user]="user"></app-user-info>
</ng-template>

<ng-template #main>
    <nz-tabset [nzAnimated]="false" [nzSelectedIndex]="getSelectedTabIndex()">
        <nz-tab *ngFor="let tab of tabs" [nzTitle]="tab.title" (nzClick)="changeStatus(tab.status)">
            <ng-template nz-tab>
                <app-products [loading]="loading" [productsResponse]="productResponse" [cardActions]="tab.actions"> </app-products>
            </ng-template>
        </nz-tab>
    </nz-tabset>
</ng-template>
