<app-content-layout title="Мои объявления" [main]="main" [left]="left"></app-content-layout>

<ng-template #left>
    <app-user-info [user]="user"></app-user-info>
</ng-template>

<ng-template #main>
    <nz-tabset [nzAnimated]="false">
        <nz-tab nzTitle="Активные" (nzClick)="getProducts(productStatus.ACTIVE)">
            <ng-template nz-tab>
                <app-products [loading]="loading" [productsResponse]="productResponse" [cardActions]="activeProductsActions">
                </app-products>
            </ng-template>
        </nz-tab>
        <nz-tab nzTitle="На модерации" (nzClick)="getProducts(productStatus.PENDING)">
            <ng-template nz-tab>
                <app-products [loading]="loading" [productsResponse]="productResponse" [cardActions]="pendingProductsActions">
                </app-products>
            </ng-template>
        </nz-tab>
        <nz-tab nzTitle="Заблокированные" (nzClick)="getProducts(productStatus.BLOCKED)">
            <ng-template nz-tab>
                <app-products [loading]="loading" [productsResponse]="productResponse" [cardActions]="blockedProductsActions">
                </app-products>
            </ng-template>
        </nz-tab>
        <nz-tab nzTitle="Завершенные" (nzClick)="getProducts(productStatus.COMPLETED)">
            <ng-template nz-tab>
                <app-products [loading]="loading" [productsResponse]="productResponse" [cardActions]="completedProductsActions">
                </app-products>
            </ng-template>
        </nz-tab>
    </nz-tabset>
</ng-template>
