<section class="body">
    <div class="container">
        <nz-alert
            nzType="warning"
            nzMessage="Демо сайт Smart Desk"
            nzDescription="Авторизируйтесь на сайте любым удобным вам способом и вам будет доступна панель администратора"
        ></nz-alert>
    </div>
    <app-navigation-header class="navigation"></app-navigation-header>
    <app-header class="header" [logo]="appConfig?.logo"></app-header>
    <div class="container main">
        <router-outlet></router-outlet>
    </div>
    <div class="footer container">
        <app-footer></app-footer>
    </div>
</section>
