@import 'src/assets/styles/variables';

.body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.main,
.footer {
    padding: 0 $base-unit * 2 $base-unit * 3;

    @media screen and (max-width: $bp-phone) {
        padding: 0 $base-unit $base-unit * 3;
    }
}

.footer {
    margin-top: auto;
}
