@import './src/assets/styles/variables';

.search-box {
    padding: $base-unit;
}

.search-box input {
    width: $base-unit * 11;
    margin-bottom: $base-unit;
    display: block;
}

.search-box button {
    width: $base-unit * 10;
}

.search-button {
    margin-right: $base-unit;
}

app-pagination {
    display: flex;
    justify-content: center;
}
