@import './src/assets/styles/variables';

.search-box {
    padding: $base-unit;
    margin-left: auto;
}

.search-button {
    margin-right: $base-unit;
}

app-pagination {
    display: flex;
    justify-content: center;
}

.actions-box {
    display: flex;
    align-items: center;
}
