<nz-page-header>
    <nz-page-header-title>Объявления</nz-page-header-title>
    <nz-page-header-subtitle>Взаимодействуйте с объявлениями</nz-page-header-subtitle>
</nz-page-header>
<section class="actions-box">
    <button
        nz-button
        nzType="primary"
        [disabled]="selectedItems.size === 0"
        nzSize="large"
        nz-popconfirm
        nzPopconfirmTitle="Удалить?"
        nzPopconfirmPlacement="bottom"
        (nzOnConfirm)="deleteSelectedAdverts()"
    >
        <i nz-icon nzType="delete"></i>Удалить
    </button>
    <div class="search-box">
        <app-search placeholder="Напиши, чего ты хочешь" (newItemEvent)="search($event)"></app-search>
    </div>
</section>
<nz-table #nzTable [nzData]="listAdverts" [nzFrontPagination]="false">
    <thead>
        <tr>
            <th class="column-checkbox" (nzCheckedChange)="onAllChecked($event)"></th>
            <th>ID</th>
            <th>Заголовок</th>
            <th>Дата создания</th>
            <th>Категория</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of nzTable.data" id="{{ data.id }}" (dblclick)="edit(data.id)">
            <td [nzChecked]="selectedItems.has(data.id)" (nzCheckedChange)="updateSelectedItems(data.id, $event)"></td>
            <td>{{ data.id }}</td>
            <td>{{ data.title }}</td>
            <td>{{ formatDate(data.created_at) }}</td>
            <td>{{ data.category_id }}</td>
            <td>
                <a nz-popconfirm nzPopconfirmTitle="Вы уверены, что хотите удалить это объявление?" (nzOnConfirm)="delete(data.id)"
                    >Delete</a
                >
                <nz-divider nzType="vertical"></nz-divider>
                <a (click)="edit(data.id)">Edit</a>
            </td>
        </tr>
    </tbody>
</nz-table>
<app-pagination
    class="pagination"
    [pageIndex]="pageIndex"
    [totalItems]="totalAdverts"
    [pageSize]="pageSize"
    (page)="changePage($event)"
></app-pagination>
