<ul nz-menu>
    <li nz-menu-item [nzMatchRouter]="true" routerLink="/admin/models">
        <i nz-icon nzType="apartment" nzTheme="outline"></i>
        <span>Модели</span>
    </li>
    <li nz-menu-item [nzMatchRouter]="true" routerLink="/admin/categories">
        <i nz-icon nzType="appstore" nzTheme="outline"></i>
        <span>Категории</span>
    </li>
    <li nz-menu-item [nzMatchRouter]="true" routerLink="/admin/adverts">
        <i nz-icon nzType="table" nzTheme="outline"></i>
        <span>Объявления</span>
    </li>
    <li nz-menu-item [nzMatchRouter]="true" routerLink="/admin/users">
        <i nz-icon nzType="user" nzTheme="outline"></i>
        <span>Пользователи</span>
    </li>
</ul>
