<h2 nz-typography>Новое объявление</h2>

<nz-cascader
    class="category-selector"
    [nzAllowClear]="false"
    [nzSize]="'large'"
    [nzOptions]="categoryTree$ | async"
    [(ngModel)]="categoryChain"
    [nzPlaceHolder]="'Выберите категорию'"
    (ngModelChange)="onCategorySelect($event)"
>
</nz-cascader>

<ng-container *ngIf="categoryChain && categoryChain.length">
    <ng-container #fields></ng-container>

    <button nz-button nzType="primary" (click)="save()">Добавить объявление</button>
</ng-container>
