<h2 nz-typography>Новое объявление</h2>

<nz-skeleton-element
    *ngIf="loadingCategories$ | async; else selectCategory"
    class="category-loading"
    nzType="input"
    nzSize="large"
    [nzActive]="true"
></nz-skeleton-element>

<ng-template #selectCategory>
    <nz-cascader
        class="category-selector"
        [nzAllowClear]="false"
        [nzSize]="'large'"
        [nzOptions]="categoryTree$ | async"
        [(ngModel)]="selectedCategoriesIds"
        [nzPlaceHolder]="'Выберите категорию'"
        (ngModelChange)="onCategorySelect($event)"
    >
    </nz-cascader>
</ng-template>

<ng-container *ngIf="(loadingForm$ | async) === false && selectedCategoriesIds && selectedCategoriesIds.length">
    <form [formGroup]="formDefaultFields" nz-form nzLayout="vertical" class="title-input">
        <nz-form-item>
            <nz-form-label [nzRequired]="true">Заголовок</nz-form-label>
            <nz-form-control nzErrorTip="Обязательное поле">
                <input nz-input formControlName="title" [required]="true" [placeholder]="'Введите заголовок'" />
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label>Предпочитаемый способ связи</nz-form-label>
            <nz-form-control>
                <nz-radio-group formControlName="preferredContact">
                    <label nz-radio [nzValue]="preferContact.PHONE">Телефон</label>
                    <label nz-radio [nzValue]="preferContact.CHAT">Чат</label>
                    <label nz-radio [nzValue]="null">Любой</label>
                </nz-radio-group>
            </nz-form-control>
        </nz-form-item>
    </form>
</ng-container>

<ng-container #fields></ng-container>
<nz-skeleton *ngIf="loadingForm$ | async; else advertButton" [nzActive]="true"></nz-skeleton>

<ng-template #advertButton>
    <ng-container *ngIf="selectedCategoriesIds && selectedCategoriesIds.length">
        <button nz-button nzType="primary" (click)="save()">Добавить объявление</button>
    </ng-container>
</ng-template>
