@import '~src/assets/styles/variables';

.user {
    display: inline-grid;
    align-items: start;
    justify-items: start;
    gap: $base-unit;
    grid-auto-flow: column;
    cursor: pointer;
    margin-bottom: $base-unit * 2;
}

.similar {
    padding-top: 20px;
}

.meta {
    color: $font-color-gray;
    margin-bottom: $base-unit * 2;

    &__item {
        margin-bottom: $base-unit;
    }
}

.contacts {
    margin-bottom: $base-unit * 2;

    &__phone {
        margin-bottom: $base-unit * 2;
    }
}
