@import '~src/assets/styles/variables';

.similar {
    padding-top: 20px;
}

.meta {
    color: $font-color-gray;
    margin-bottom: $base-unit * 2;

    &__item {
        margin-bottom: $base-unit;
    }
}

.contacts {
    margin-bottom: $base-unit * 2;

    @media screen and (max-width: $bp-tablet) {
        display: flex;
        gap: $base-unit;
    }

    &__phone {
        @media screen and (max-width: $bp-tablet) {
            flex-grow: 1;
        }
    }

    &__chat {
        @media screen and (max-width: $bp-tablet) {
            flex-grow: 1;
        }
    }
}

.product {
    &__user {
        display: inline-grid;
        align-items: start;
        justify-items: start;
        gap: $base-unit;
        grid-auto-flow: column;
        cursor: pointer;
        margin-bottom: $base-unit * 2;

        @media screen and (max-width: $bp-tablet) {
            margin-bottom: 0;

            .ant-avatar {
                width: $base-unit * 3;
                height: $base-unit * 3;
                line-height: $base-unit * 3;
            }
        }
    }

    &__alert {
        margin-bottom: $base-unit * 2;
    }

    &__title {
        font-size: $font-32;
        margin-bottom: 0;

        @media screen and (max-width: $bp-tablet) {
            font-size: $font-18;
        }
    }

    &__title-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: $base-unit * 2;

        @media screen and (max-width: $bp-tablet) {
            margin-top: $base-unit * 2;
        }
    }

    &__title-button {
        border: none;
        box-shadow: $shadow;

        &--active i {
            color: $primary-red;
        }
    }

    &__owner-buttons {
        margin: $base-unit 0;
    }

    &__owner-buttons-item {
        margin-bottom: $base-unit * 2;

        &:last-child {
            margin-bottom: 0;
        }
    }
}
