<app-content-layout [title]="titleTmp" [main]="main" [right]="right"></app-content-layout>

<ng-template #titleTmp>
    <nz-row [nzGutter]="16">
        <nz-col [nzSpan]="18">
            <div class="product__title-wrapper">
                <h1 class="product__title">{{ product?.title }}</h1>
                <button
                    *ngIf="product?.isBookmark"
                    class="product__title-button product__title-button--active"
                    nz-button
                    nzType="default"
                    nzShape="round"
                    (click)="removeFromBookmarks()"
                >
                    Убрать из закладок
                    <i nz-icon nzType="heart" nzTheme="fill"></i>
                </button>
                <button
                    *ngIf="!product?.isBookmark"
                    class="product__title-button"
                    nz-button
                    nzType="default"
                    nzShape="round"
                    (click)="addToBookmarks()"
                >
                    В закладки
                    <i nz-icon nzType="heart" nzTheme="outline"></i>
                </button>
            </div>
        </nz-col>
    </nz-row>
</ng-template>

<ng-template #main>
    <nz-alert
        *ngIf="product?.status === 'blocked' && product?.reason"
        class="product__alert"
        nzType="warning"
        nzMessage="Объявление было заблокировано администратором"
        [nzDescription]="product?.reason"
        nzShowIcon
    ></nz-alert>
    <ng-container #params></ng-container>
    <section *ngIf="similarProducts?.totalCount" class="similar">
        <h2>Похожие объявления</h2>
        <app-products [productsResponse]="similarProducts" [showPagination]="false"></app-products>
    </section>
</ng-template>

<ng-template #right>
    <ng-container #price></ng-container>
    <div class="user" *ngIf="user" [routerLink]="['/', 'user', user.id]">
        <nz-avatar [nzSrc]="user?.avatar" nzIcon="user" nzSize="large"></nz-avatar>
        <h3>{{ user?.firstName }} {{ user?.lastName }}</h3>
    </div>
    <div class="contacts">
        <div class="contacts__phone" *ngIf="isContactAvailable(preferContact.PHONE) && this.user?.isPhoneVerified">
            <button *ngIf="!isPhoneVisible" nzBlock class="contacts" nz-button (click)="showPhone()">
                <i nz-icon nzType="phone" nzTheme="outline"></i>
                Показать телефон
            </button>
            <h3 *ngIf="isPhoneVisible">{{ userPhone }}</h3>
        </div>
        <div class="contacts__chat" *ngIf="isContactAvailable(preferContact.CHAT)">
            <button nz-button nzBlock nzType="primary" (click)="openChat()">
                <i nz-icon nzType="message" nzTheme="outline"></i>
                Написать сообщение
            </button>
        </div>
    </div>
    <ng-container #location></ng-container>

    <div class="meta">
        <div class="meta__item">Опубликовано {{ product?.createdAt | date: 'dd.MM.YYYY' }}</div>
        <div class="meta__item"><i nz-icon nzType="eye" nzTheme="outline"></i> {{ product?.views }} просмотров</div>
    </div>
</ng-template>
