<ng-container *ngIf="!chats || !chats.length; else result">
    <nz-result nzIcon="smile-twotone" nzTitle="Пока что у вас нет сообщений"></nz-result>
</ng-container>

<ng-template #result>
    <div class="chat">
        <app-chat-list
            class="chat__list"
            [currentUser]="currentUser"
            [chats]="chats"
            [activeChat]="activeChat"
            (changeChat)="changeActiveChat($event)"
        ></app-chat-list>
        <app-chat-messages
            class="chat__messages"
            [currentUser]="currentUser"
            [chat]="activeChat"
            [messages]="messages"
            (newMessage)="sendMessage($event)"
        ></app-chat-messages>
    </div>
</ng-template>
