<nz-layout>
    <nz-sider [nzTheme]="'light'">
        <app-profile-side-bar></app-profile-side-bar>
    </nz-sider>
    <nz-content class="main">
        <h1>Личные данные</h1>
        <nz-table nzTemplateMode>
            <tbody>
                <tr>
                    <td>Profile</td>
                    <td>{{ profile?.firstName }} {{ profile?.lastName }}</td>
                    <td><a (click)="showProfile = !showProfile">Edit</a></td>
                </tr>
                <tr>
                    <td>Phone</td>
                    <td>{{ profile?.phone }}</td>
                    <td><a (click)="showPhone = !showPhone">Change</a></td>
                </tr>
                <tr>
                    <td>Town</td>
                    <td>{{ profile?.city }}</td>
                    <td><a (click)="showCity = !showCity">Specify</a></td>
                </tr>
            </tbody>
        </nz-table>
    </nz-content>
</nz-layout>

<nz-modal [(nzVisible)]="showProfile" (nzOnCancel)="showProfile = !showProfile" (nzOnOk)="submitForm(profileForm.NAME)">
    <form nz-form [formGroup]="formName">
        <div class="user-avatar">
            <nz-upload
                nzAction="/s3/image"
                nzListType="picture-card"
                [nzFileList]="file"
                nzAccept="image/png, image/jpeg"
                [nzLimit]="1"
                (nzChange)="fileChanged($event)"
            >
                <div>
                    <i nz-icon nzType="plus"></i>
                    <div style="margin-top: 8px;">Upload</div>
                </div>
            </nz-upload>
        </div>

        <nz-form-item>
            <nz-form-control [nzSpan]="14">
                <input nz-input name="firstName" type="text" formControlName="firstName" />
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-control [nzSpan]="14">
                <input nz-input name="lastName" type="text" formControlName="lastName" />
            </nz-form-control>
        </nz-form-item>
    </form>
</nz-modal>

<nz-modal [(nzVisible)]="showPhone" nzTitle="Номер " (nzOnCancel)="showPhone = !showPhone" (nzOnOk)="submitForm(profileForm.PHONE)">
    <form nz-form [formGroup]="formPhone">
        <nz-form-control-label for="phone">Изменить номер телефона</nz-form-control-label>
        <nz-form-item>
            <nz-form-control [nzSpan]="14">
                <input type="tel" nz-input name="phone" id="phone" formControlName="phone" />
            </nz-form-control>
        </nz-form-item>
    </form>
</nz-modal>

<nz-modal [(nzVisible)]="showCity" nzTitle="Город" (nzOnCancel)="showCity = !showCity" (nzOnOk)="submitForm(profileForm.CITY)">
    <form nz-form [formGroup]="formCity">
        <nz-form-control-label for="city">Укажите город, в котором вы находитесь</nz-form-control-label>
        <nz-form-item>
            <nz-form-control [nzSpan]="14">
                <input nz-input name="city" type="text" id="city" formControlName="city" />
            </nz-form-control>
        </nz-form-item>
    </form>
</nz-modal>
