<app-content-layout title="Ваш профиль" [left]="left" [main]="main"></app-content-layout>

<ng-template #left>
    <app-user-info [user]="profile"></app-user-info>
</ng-template>

<ng-template #main>
    <nz-table nzTemplateMode>
        <tbody>
            <tr>
                <td>Profile</td>
                <td>{{ profile?.firstName }} {{ profile?.lastName }}</td>
                <td><a (click)="openProfileForm()">Edit</a></td>
            </tr>
            <tr>
                <td>Phone</td>
                <td>{{ profile?.phone }}</td>
                <td class="cell-action">
                    <div *ngIf="profile.phone && !profile.isPhoneVerified">
                        <a (click)="openConfirmPhone()">Confirm</a>
                        <span class="cell-action__separate">/</span>
                    </div>
                    <a (click)="openChangePhone()">Change</a>
                </td>
            </tr>
        </tbody>
    </nz-table>
</ng-template>
