<app-content-layout title="Ваш профиль" [left]="left" [main]="main"></app-content-layout>

<ng-template #left>
    <app-user-info [user]="profile"></app-user-info>
</ng-template>

<ng-template #main>
    <nz-table nzTemplateMode>
        <tbody>
            <tr>
                <td>Profile</td>
                <td>{{ profile?.firstName }} {{ profile?.lastName }}</td>
                <td><a (click)="showProfile = !showProfile">Edit</a></td>
            </tr>
            <tr>
                <td>Phone</td>
                <td>{{ profile?.phone }}</td>
                <td class="cell-action">
                    <div *ngIf="profile.phone && !profile.isPhoneVerified">
                        <a (click)="showConfirmPhone = !showConfirmPhone">Confirm</a>
                        <span class="cell-action__separate">/</span>
                    </div>
                    <a (click)="showPhone = !showPhone">Change</a>
                </td>
            </tr>
        </tbody>
    </nz-table>
</ng-template>
<nz-modal [(nzVisible)]="showProfile" (nzOnCancel)="showProfile = !showProfile" (nzOnOk)="submitFormName()">
    <app-modal-name [profile]="profile" (submitEvent)="submitForm($event)"> </app-modal-name>
</nz-modal>
<app-modal-verify [showConfirmPhone]="showConfirmPhone" [confirmMode]="confirmMode" (requestVerificationEvent)="requestVerification()">
</app-modal-verify>
<app-modal-phone [formPhoneData]="formPhoneData" [showPhone]="showPhone" (submitFormEvent)="submitForm($event)"></app-modal-phone>
