<div class="radio">
    <div class="radio__title">
        <span nz-typography nzType="secondary">Радиокнопки</span>
        <button nz-button nzType="link" nzSize="small" nzShape="circle" (click)="addRadio()">
            <i nz-icon nzType="plus-circle" nzTheme="outline"></i>
        </button>
        <!-- todo extract as delete button component -->
        <button
            nz-popconfirm
            nzPopconfirmTitle="Вы уверены что хотите удалить поле?"
            nzPopconfirmPlacement="top"
            nzCancelText="Отмена"
            nzOkText="Удалить"
            (nzOnConfirm)="deleteField()"
            nz-button
            nzType="link"
            nzSize="small"
            nzShape="circle"
        >
            <i nz-icon nzType="delete" nzTheme="outline"></i>
        </button>
    </div>

    <form nz-form [nzLayout]="'vertical'" [formGroup]="form" (ngSubmit)="save()">
        <nz-form-item>
            <nz-form-label nzFor="title">Заголовок</nz-form-label>
            <nz-form-control>
                <input nz-input formControlName="title" name="title" placeholder="Заголовок" formGroupName="title" />
            </nz-form-control>
        </nz-form-item>

        <ng-container formArrayName="radios" *ngFor="let radio of radios.controls; let i = index">
            <nz-form-item class="radio__item" [formGroupName]="i">
                <nz-form-control>
                    <nz-input-group [nzSuffix]="delete">
                        <input nz-input placeholder="Введите значение" name="label" formControlName="label" />
                    </nz-input-group>
                    <ng-template #delete>
                        <i nz-icon nzType="delete" nzTheme="outline" (click)="deleteRadio(i)"></i>
                    </ng-template>
                </nz-form-control>
            </nz-form-item>
        </ng-container>

        <nz-form-item>
            <nz-form-control>
                <button nz-button type="submit" nzType="primary">Сохранить</button>
            </nz-form-control>
        </nz-form-item>
    </form>
</div>
