<nz-page-header>
    <nz-page-header-title>Пользователи</nz-page-header-title>
    <nz-page-header-subtitle>Тут вы можете найти заблокировать или удалить пользователя</nz-page-header-subtitle>
</nz-page-header>

<div class="users__content">
    <nz-table nzTemplateMode>
        <thead>
            <tr>
                <th nzCustomFilter>
                    Имя
                    <nz-filter-trigger [(nzVisible)]="isVisibleFilter" [nzActive]="searchValue.length > 0" [nzDropdownMenu]="menu">
                        <i nz-icon nzType="search"></i>
                    </nz-filter-trigger>
                </th>
                <th>Email</th>
                <th>Роли</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
                <td>
                    <a [routerLink]="['/', 'user', user.id]">{{ user.firstName }} {{ user.lastName }}</a>
                </td>
                <td>
                    {{ user.email }}
                </td>
                <td>
                    {{ user.roles.join(', ') }}
                </td>
                <td>
                    <a nz-button nzType="link" (click)="updateUserRoles(user)">Изменить роль</a>
                    <a *ngIf="user.status === userStatus.BLOCKED" nz-button nzType="link" (click)="blockUser(user, false)">
                        Разблокировать
                    </a>
                    <a *ngIf="user.status === userStatus.ACTIVE" nz-button nzType="link" (click)="blockUser(user, true)">Заблокировать</a>
                </td>
            </tr>
        </tbody>
    </nz-table>
</div>

<nz-dropdown-menu #menu="nzDropdownMenu">
    <div class="ant-table-filter-dropdown">
        <div class="search-box">
            <input class="search-box__input" type="text" nz-input placeholder="Поиск по имени" [(ngModel)]="searchValue" />
            <button nz-button nzSize="small" nzType="primary" (click)="search()" class="search-button">Поиск</button>
            <button nz-button nzSize="small" (click)="reset()">Сбросить</button>
        </div>
    </div>
</nz-dropdown-menu>
