<form nz-form>
    <nz-form-label [nzRequired]="field.required">{{ field.title }}</nz-form-label>
    <nz-form-item class="google-search-wrap">
        <nz-form-control>
            <input class="google-search" #search nz-input name="title" placeholder="Введите адрес" />
        </nz-form-control>
    </nz-form-item>
</form>

<p>{{ location.title || 'Не выбрано' }}</p>

<p><a (click)="toggleMap()">Указать на карте</a></p>

<div class="google-map" [style.display]="showMap ? '' : 'none'">
    <agm-map [latitude]="location.lat" [longitude]="location.lng" [zoom]="zoom" (mapReady)="mapReadyHandler($event)">
        <agm-marker [latitude]="location.lat" [longitude]="location.lng"></agm-marker>
    </agm-map>
</div>
