<form nz-form nzLayout="vertical">
    <nz-form-item>
        <nz-form-control>
            <nz-form-label>Выберите фотографии</nz-form-label>
            <nz-upload
                class="photo-form__uploader"
                nzType="drag"
                nzAction="/s3/image"
                nzListType="picture-card"
                nzAccept="image/png, image/jpeg"
                [(nzFileList)]="fileList"
                [nzMultiple]="true"
                [nzBeforeUpload]="beforeUpload"
                [nzDisabled]="fileList?.length >= field?.params?.max"
                (nzChange)="listChanged($event)"
            >
                <div>
                    <i nz-icon nzType="plus"></i>
                    <div style="margin-top: 8px;">Загрузить</div>
                </div>
            </nz-upload>
            <span *ngIf="field?.params?.min && fileList.length < field?.params?.min && showValidationErrors" nz-typography nzType="danger">
                Не менее {{ field.params.min }} фото </span
            ><br />
            <span *ngIf="field?.params?.max && fileList.length > field?.params?.max && showValidationErrors" nz-typography nzType="danger">
                Не более {{ field.params.max }} фото
            </span>
        </nz-form-control>
    </nz-form-item>
</form>
