<form nz-form nzLayout="vertical" [formGroup]="form">
    <nz-form-item>
        <nz-form-control nzErrorTip="Обязательное поле">
            <input nz-input formControlName="title" name="title" required placeholder="Заголовок" />
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-control>
            <input nz-input formControlName="placeholder" name="placeholder" placeholder="Плейсхолдер" />
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <label nz-checkbox formControlName="richTextEditor">Использовать Rich Text Editor</label>
    </nz-form-item>
    <nz-form-item>
        <label nz-checkbox formControlName="required">Обязательное поле</label>
    </nz-form-item>
</form>
