<app-content-layout title="Ваш профиль" [left]="left" [main]="main"></app-content-layout>

<ng-template #left>
    <app-user-info [user]="profile"></app-user-info>
</ng-template>

<ng-template #main>
    <nz-table nzTemplateMode>
        <tbody>
            <tr>
                <td>Профиль</td>
                <td>{{ profile?.firstName }} {{ profile?.lastName }}</td>
                <td><a (click)="openFormName()">Редактировать</a></td>
            </tr>
            <tr>
                <td>Телефон</td>
                <td>{{ profile?.phone }}</td>
                <td class="cell-action">
                    <div *ngIf="profile.phone && !profile.isPhoneVerified">
                        <a (click)="openFormConfirmPhone()">Подтвердить</a>
                        <span class="cell-action__separate">/</span>
                    </div>
                    <a (click)="openFormChangePhone()">Изменить</a>
                </td>
            </tr>
        </tbody>
    </nz-table>
</ng-template>
