<div>
    <form nz-form nzLayout="vertical" class="input-title">
        <nz-form-item>
            <nz-form-label [nzRequired]="true">Заголовок</nz-form-label>
            <nz-form-control nzErrorTip="Обязательное поле">
                <input
                    nz-input
                    [(ngModel)]="title"
                    [required]="true"
                    [placeholder]="'Введите заголовок'"
                    [ngModelOptions]="{ standalone: true }"
                />
            </nz-form-control>
        </nz-form-item>
    </form>
    <ng-container #fields></ng-container>
    <button nz-button nzType="primary" (click)="save()">Сохранить</button>
</div>
