<app-content-layout title="Мои объявления" [main]="main" [left]="left"></app-content-layout>

<ng-template #left>
    <app-user-info [user]="user"></app-user-info>
</ng-template>

<ng-template #main>
    <nz-tabset [nzAnimated]="false">
        <nz-tab nzTitle="Активные">
            <app-adverts-list *ngIf="adverts" [adverts]="adverts?.adverts"></app-adverts-list>
        </nz-tab>
        <nz-tab nzTitle="На модерации">
            <!-- todo -->
            <p>Todo</p>
        </nz-tab>
        <nz-tab nzTitle="Завершенные">
            <!-- todo -->
            <p>Todo</p>
        </nz-tab>
        <nz-tab nzTitle="Заблокированные">
            <!-- todo -->
            <p>Todo</p>
        </nz-tab>
    </nz-tabset>
</ng-template>
