<div class="text">
    <div class="text__form-container">
        <p nz-typography nzType="secondary" class="text__title">
            <span>Текст</span>
            <button
                nz-popconfirm
                nzPopconfirmTitle="Вы уверены что хотите удалить поле?"
                nzPopconfirmPlacement="top"
                nzCancelText="Отмена"
                nzOkText="Удалить"
                (nzOnConfirm)="delete()"
                nz-button
                nzType="link"
                nzSize="small"
                nzShape="circle"
            >
                <i nz-icon nzType="delete" nzTheme="outline"></i>
            </button>
        </p>
        <quill-editor (onContentChanged)="save($event)"></quill-editor>
    </div>
</div>
