<div class="radio">
    <form nz-form [nzLayout]="'vertical'" [formGroup]="form">
        <nz-form-item>
            <nz-form-label nzFor="title">Заголовок</nz-form-label>
            <nz-form-control>
                <input nz-input formControlName="title" name="title" placeholder="Заголовок" formGroupName="title" />
            </nz-form-control>
        </nz-form-item>

        <ng-container formArrayName="radios" *ngFor="let radio of radios.controls; let i = index">
            <nz-form-item class="radio__item" [formGroupName]="i">
                <nz-form-control>
                    <nz-input-group [nzSuffix]="delete">
                        <input nz-input placeholder="Введите значение" name="label" formControlName="label" />
                    </nz-input-group>
                    <ng-template #delete>
                        <i nz-icon nzType="delete" nzTheme="outline" (click)="deleteRadio(i)"></i>
                    </ng-template>
                </nz-form-control>
            </nz-form-item>
        </ng-container>
        <button nz-button type="submit" nzType="link" (click)="addRadio()">Добавить радио</button>

        <nz-form-item>
            <label nz-checkbox formControlName="filterable">Фильтровать по полю</label>
        </nz-form-item>

        <nz-form-item>
            <label nz-checkbox formControlName="required">Обязательное поле</label>
        </nz-form-item>
    </form>
</div>
