<div class="spinner" *ngIf="loading">
    <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
</div>

<div class="button-list">
    <button class="button" *ngIf="!loading" (click)="googleLogin()" nz-button nzBlock nzType="danger" [nzSize]="'large'" nzShape="round">
        <i nz-icon nzType="google" nzTheme="outline"></i>
        <span>Войти с Google</span>
    </button>

    <button class="button" *ngIf="!loading" (click)="vkLogin()" nz-button nzBlock nzType="primary" [nzSize]="'large'" nzShape="round">
        <span>Войти с VK</span>
    </button>

    <button class="button" *ngIf="!loading" (click)="facebookLogin()" nz-button nzBlock nzType="primary" [nzSize]="'large'" nzShape="round">
        <i nz-icon nzType="facebook" nzTheme="outline"></i>
        <span>Войти с Facebook</span>
    </button>
</div>
