<ul nz-menu nzMode="inline">
    <li nz-menu-item [nzMatchRouter]="true" routerLink="/admin/products" [queryParams]="{ status: 'pending' }">
        <i nz-icon nzType="unordered-list" nzTheme="outline"></i>
        <span>Объявления</span>
    </li>
    <li nz-menu-item [nzMatchRouter]="true" routerLink="/admin/models">
        <i nz-icon nzType="apartment" nzTheme="outline"></i>
        <span>Модели</span>
    </li>
    <li nz-menu-item [nzMatchRouter]="true" routerLink="/admin/categories">
        <i nz-icon nzType="appstore" nzTheme="outline"></i>
        <span>Категории</span>
    </li>
    <li nz-menu-item [nzMatchRouter]="true" routerLink="/admin/users">
        <i nz-icon nzType="user" nzTheme="outline"></i>
        <span>Пользователи</span>
    </li>

    <li nz-menu-item [nzMatchRouter]="true" routerLink="/admin/ad-config">
        <i nz-icon nzType="dollar-circle" nzTheme="outline"></i>
        <span>Настройка платных услуг</span>
    </li>

    <li nz-menu-item [nzMatchRouter]="true" routerLink="/admin/ad-campaigns" [queryParams]="{ status: 'pending' }">
        <i nz-icon nzType="calendar" nzTheme="outline"></i>
        <span>Рекламные кампании</span>
    </li>

    <li nz-menu-item [nzMatchRouter]="true" routerLink="/admin/site-pages">
        <i nz-icon nzType="profile" nzTheme="outline"></i>
        <span>Cтраницы сайта</span>
    </li>

    <li nz-menu-item [nzMatchRouter]="true" routerLink="/admin/app-config">
        <i nz-icon nzType="control" nzTheme="outline"></i>
        <span>Настройки сайта</span>
    </li>
</ul>
