@import '../../../../../assets/styles/variables';

.sort-box {
    border: 1px solid $border-color;
    border-radius: $border-radius;
    padding: $base-unit * 1.5 $base-unit * 2;

    ::ng-deep &__select,
    .ant-select-selector,
    .ant-select-selection-item {
        font-size: $font-16;
        margin-top: $base-unit;
    }

    ::ng-deep .ant-select-selector {
        background-color: $background;
    }

    ::ng-deep .ant-select-arrow {
        color: black;
    }
}
