<app-content-layout title="Мои рекламные кампании" [main]="main" [left]="left"></app-content-layout>

<ng-template #left>
    <app-user-info [user]="user"></app-user-info>
</ng-template>

<ng-template #main>
    <p>Список рекламных кампаний</p>
    <button routerLink="create" nz-button nzType="primary" [nzSize]="'large'" nzShape="round">Создать кампанию</button>
    <nz-table class="table" [nzTemplateMode]="true" [nzFrontPagination]="true">
        <thead>
            <tr>
                <th>Наименование</th>
                <th>Дата начала кампания</th>
                <th>Дата окончания кампании</th>
                <th>Действие</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let ad of ads">
                <td>
                    <a>{{ ad.id }}</a>
                </td>
                <td>{{ ad.startDate }}</td>
                <td>{{ ad.endDate }}</td>
                <td>
                    <a (click)="edit(ad.id)">Редатировать</a>
                    <nz-divider nzType="vertical"></nz-divider>
                    <a (click)="pay(ad.id)">Оплатить</a>
                    <nz-divider nzType="vertical"></nz-divider>
                </td>
            </tr>
        </tbody>
    </nz-table>
</ng-template>
