<app-content-layout title="Мои объявления" [main]="main" [left]="left"></app-content-layout>

<ng-template #left>
    <app-user-info [user]="user"></app-user-info>
</ng-template>

<ng-template #main>
    <nz-tabset [nzAnimated]="false">
        <nz-tab nzTitle="Активные">
            <app-adverts [advertsResponse]="activeAdvertsResponse" [cardActions]="activeAdvertsActions"></app-adverts>
        </nz-tab>
        <nz-tab nzTitle="На модерации">
            <app-adverts [advertsResponse]="pendingAdvertsResponse" [cardActions]="pendingAdvertsActions"></app-adverts>
        </nz-tab>
        <nz-tab nzTitle="Заблокированные">
            <app-adverts [advertsResponse]="blockedAdvertsResponse" [cardActions]="blockedAdvertsActions"></app-adverts>
        </nz-tab>
        <nz-tab nzTitle="Завершенные">
            <app-adverts [advertsResponse]="completedAdvertsResponse" [cardActions]="completedAdvertsActions"></app-adverts>
        </nz-tab>
    </nz-tabset>
</ng-template>
