<nz-collapse class="filters" nzGhost>
    <ng-container #price></ng-container>

    <nz-collapse-panel class="filters__panel" nzExpandedIcon="caret-right" nzHeader="Параметры" [nzActive]="true">
        <ng-container #params></ng-container>
    </nz-collapse-panel>

    <ng-container #location></ng-container>
</nz-collapse>
<div class="button">
    <button class="button button--sucsses" nz-button (click)="apply()">Применить {{ activeFilters ? activeFilters : '' }}</button>
    <button class="button button--reset" nz-button (click)="dropFilters()" nzType="text">Сбросить</button>
</div>
