<nz-collapse class="filter-list" nzGhost>
    <div class="filter-list__item filter-list__item--price" [hidden]="!showSection[sectionType.PRICE]">
        <div>
            <div class="container__title">Цена, ₽</div>
            <ng-container #price></ng-container>
        </div>
    </div>

    <div class="filter-list__item" [hidden]="!showSection[sectionType.PARAMS]">
        <nz-collapse-panel nzExpandedIcon="caret-right" nzHeader="Параметры" [nzActive]="true">
            <ng-container #params></ng-container>
        </nz-collapse-panel>
    </div>
    <div class="filter-list__item" [hidden]="!showSection[sectionType.LOCATION]">
        <nz-collapse-panel nzExpandedIcon="caret-right" nzHeader="Местоположение" [nzActive]="true">
            <ng-container #location></ng-container>
        </nz-collapse-panel>
    </div>
</nz-collapse>
<div class="button">
    <button class="button button--sucsses" nz-button (click)="apply()">Применить {{ activeFilters ? activeFilters : '' }}</button>
    <button class="button button--reset" nz-button (click)="dropFilters()" nzType="text">Сбросить</button>
</div>
