<form nz-form nzLayout="vertical" [formGroup]="form">
    <nz-form-item>
        <nz-form-label [nzRequired]="field?.required">{{ field?.title }}</nz-form-label>
        <nz-form-control [nzErrorTip]="errorRef">
            <nz-checkbox-group formControlName="value"> </nz-checkbox-group>
            <ng-template #errorRef let-control>
                <ng-container *ngIf="control.hasError('checkboxRequired')">Обязательное поле</ng-container>
            </ng-template>
        </nz-form-control>
    </nz-form-item>
</form>
