<app-content-layout [main]="main" [left]="left"></app-content-layout>

<ng-template #main>
    <nz-tabset [nzAnimated]="false">
        <nz-tab nzTitle="Активные">
            <ng-template nz-tab>
                <app-products [loading]="loading" [productsResponse]="productResponse"></app-products>
            </ng-template>
        </nz-tab>
        <nz-tab nzTitle="Завершенные">
            <ng-template nz-tab>
                <app-products [loading]="loading" [productsResponse]="completedProducts"></app-products>
            </ng-template>
        </nz-tab>
    </nz-tabset>
</ng-template>

<ng-template #left>
    <app-user-info [user]="user"></app-user-info>
</ng-template>
