<app-content-layout title="Мои рекламные кампании" [main]="main" [left]="left"></app-content-layout>

<ng-template #left>
    <app-user-info [user]="user"></app-user-info>
</ng-template>

<ng-template #main>
    <button routerLink="create" nz-button nzType="primary" [nzSize]="'large'" nzShape="round">
        Создать кампанию
    </button>
    <nz-table class="table" [nzTemplateMode]="true" [nzFrontPagination]="true">
        <thead>
            <tr>
                <th>Наименование</th>
                <th>Статус</th>
                <th>Период</th>
                <th>Причина отклонения</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let adCampaign of adCampaigns">
                <td>{{ adCampaign.title }}</td>
                <td>{{ adCampaign.status }}</td>
                <td>{{ adCampaign.startDate }} - {{ adCampaign.endDate }}</td>
                <td>{{ adCampaign.reason }}</td>
                <td>
                    <a (click)="showAdCampaign(adCampaign.id)">Просмотр</a>
                    <ng-container *ngIf="adCampaign.status !== this.adsStatus.PAID">
                        <nz-divider [nzType]="'vertical'"></nz-divider>
                        <a (click)="navigateToCampaignPage(adCampaign.id)">Редатировать</a>
                    </ng-container>
                    <ng-container *ngIf="adCampaign.status === this.adsStatus.APPROVED">
                        <nz-divider [nzType]="'vertical'"></nz-divider>
                        <a (click)="navigateToPaymentPage(adCampaign.id)">Оплатить</a>
                    </ng-container>
                    <nz-divider [nzType]="'vertical'"></nz-divider>
                    <a nz-typography nzType="danger" (click)="deleteAdCampaign(adCampaign)">Удалить</a>
                </td>
            </tr>
        </tbody>
    </nz-table>
</ng-template>
