<app-content-layout [advert]="advert" [title]="category?.name" [main]="main" [right]="right"></app-content-layout>

<ng-template #advert>
    <app-breadcrumb [steps]="breadcrumbs"></app-breadcrumb>
    <app-main-advert *ngIf="mainAdCampaign" [adCampaign]="mainAdCampaign"></app-main-advert>
</ng-template>

<ng-template #main>
    <app-products [productsResponse]="productsResponse" [adCampaign]="sidebarAdCampaign" [promoProducts]="promoProducts"></app-products>

    <div *ngIf="!isEmptyObject(options?.filters) && productsResponse?.totalCount === 0">
        <h2>Ничего не нашли по заданным фильтрам</h2>
        <button nz-button nzType="default" nzSize="large" (click)="dropFilters()">
            <i nz-icon nzType="clear" nzTheme="outline"></i>
            Сбросить все фильтры
        </button>
    </div>

    <div *ngIf="options?.search && isEmptyObject(options?.filters) && productsResponse?.totalCount === 0">
        <h2>Ничего не нашли по вашему запросу</h2>
    </div>
</ng-template>

<ng-template #right>
    <app-sorting *ngIf="model" [model]="model" [sorting]="options?.sorting"></app-sorting>
    <app-filters *ngIf="model" [model]="model" [filters]="options?.filters"></app-filters>
</ng-template>
