@import 'src/assets/styles/variables';

.spiner {
    text-align: center;
    margin-top: $base-unit * 9;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: $base-unit * 2;
}
