@import './src/assets/styles/variables';

.container {
    max-width: 100%;
    padding: $base-unit * 3;
}

.form {
    width: $base-unit * 60;
}

.ad-config {
    &__promo-set-list {
        margin-bottom: $base-unit * 2;
    }

    &__adsense-warn {
        margin-bottom: $base-unit * 2;
    }
}
