<nz-page-header>
    <nz-page-header-title>Настройки платных функций</nz-page-header-title>
    <nz-page-header-subtitle>Тут вы можете найти настроить стоимость размещения рекламы и поднятия объявления</nz-page-header-subtitle>
</nz-page-header>

<div class="container">
    <form class="form" [formGroup]="form" nz-form [nzLayout]="'vertical'">
        <nz-form-item>
            <nz-form-label>Реклама в основном баннере (рублей в час)</nz-form-label>
            <nz-form-control>
                <input type="number" nz-input formControlName="mainHourlyRate" />
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label>Реклама в выдаче (рублей в час)</nz-form-label>
            <nz-form-control>
                <input type="number" nz-input formControlName="sidebarHourlyRate" />
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label>Стоимость поднятия</nz-form-label>
            <nz-form-control>
                <input type="number" nz-input formControlName="liftRate" />
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-control>
                <button (click)="submitForm()" nz-button nzType="primary">Сохранить</button>
            </nz-form-control>
        </nz-form-item>
    </form>
</div>
