@import './src/assets/styles/variables';

.container {
    max-width: 100%;
    padding: $base-unit * 3;
    background-color: $base-bg;
}

.form {
    width: $base-unit * 30;
}

.ad-config {
    &__promo-set-list {
        margin-bottom: $base-unit * 2;
    }
}
