<form class="create-ad-campaign__form" [formGroup]="form">
    <div class="form__row">
        <nz-select class="form__item" formControlName="type">
            <nz-option *ngFor="let type of adTypes" [nzValue]="type.sysName" [nzLabel]="type.name"></nz-option>
        </nz-select>
        <nz-range-picker class="form__item form__item--large" [nzDisabled]="!isSelectType" formControlName="timeRange"></nz-range-picker>
    </div>

    <div class="form__row">
        <input formControlName="link" nz-input [disabled]="!isSelectType" placeholder="Разместите здесь ссылку на Ваш продукт" />
    </div>
    <div class="form__row form__row--bottom">
        <nz-upload
            [nzDisabled]="!isSelectType"
            class="upload-list-inline"
            nzAction="/s3/image"
            nzListType="picture-card"
            [nzFileList]="file"
            nzAccept="image/png, image/jpeg"
            [nzLimit]="1"
            (nzChange)="fileChanged($event)"
        >
            <div>
                <i nz-icon nzType="plus"></i>
                <div style="margin-top: 8px;">Upload</div>
            </div>
        </nz-upload>
    </div>
</form>
