@import '~src/assets/styles/variables';

.form {
    &__item {
        width: 40%;

        &--large {
            width: 60%;
        }
    }

    &__row {
        margin: $base-unit * 3 0;
        display: flex;

        &--bottom {
            align-items: flex-end;
            margin: 0;
        }
    }
}

:host ::ng-deep .upload-list-inline .ant-upload-list-item,
:host ::ng-deep .ant-upload-list-picture-card-container,
:host ::ng-deep .ant-upload.ant-upload-select-picture-card {
    float: left;
    width: 150px;
    margin: 0;
}
:host ::ng-deep .upload-list-inline [class*='-upload-list-rtl'] .ant-upload-list-item {
    float: right;
}
:host ::ng-deep .upload-list-inline .ant-upload-animate-enter {
    animation-name: uploadAnimateInlineIn;
}
:host ::ng-deep .upload-list-inline .ant-upload-animate-leave {
    animation-name: uploadAnimateInlineOut;
}
