<nz-card [nzActions]="[bookmarkIcon]" nzHoverable [nzCover]="coverTemplate">
    <nz-card-meta [nzTitle]="title" [nzDescription]="description"></nz-card-meta>
</nz-card>
<ng-template #coverTemplate>
    <img [routerLink]="['/', advert.category_id, advert.id]" alt="example" [src]="thumb || 'assets/images/not-found.png'" />
</ng-template>

<ng-template #bookmarkIcon>
    <i *ngIf="!advert?.isBookmark" (click)="toggleBookmark(advert.id)" nz-icon [nzType]="'heart'" [nzTheme]="'outline'"> </i>
    <i
        *ngIf="advert?.isBookmark"
        (click)="toggleBookmark(advert.id)"
        nz-icon
        [nzType]="'heart'"
        [nzTheme]="'twotone'"
        [nzTwotoneColor]="'#eb2f96'"
    >
    </i>
</ng-template>
