<form class="search" (ngSubmit)="search()">
    <nz-input-group nzSearch [nzPrefix]="prefix" [nzSuffix]="suffix" [nzAddOnAfter]="suffixButton">
        <input
            class="search__input"
            [(ngModel)]="searchPhrase"
            type="text"
            nz-input
            [placeholder]="placeholder"
            [ngModelOptions]="{ standalone: true }"
        />
    </nz-input-group>
    <ng-template #suffixButton>
        <button class="search__button" nz-button nzSearch (click)="search()">Найти</button>
    </ng-template>
    <ng-template #prefix>
        <i nz-icon nzType="search" style="font-size: 18px;"></i>
    </ng-template>
    <ng-template #suffix>
        <i nz-icon nzType="close" *ngIf="searchPhrase" (click)="reset()" style="font-size: 18px;"></i>
    </ng-template>
</form>
