<nz-modal [(nzVisible)]="showConfirmPhone" nzTitle="Confirm" (nzOnCancel)="showConfirmPhone = !showConfirmPhone" (nzOnOk)="submitForm()">
    <form nz-form [formGroup]="formConfirm">
        <nz-button-group>
            <button *ngIf="!confirmMode" nz-button nzType="primary" (click)="requestVerification()" nzSize="middle">
                Send code
            </button>
        </nz-button-group>
        <nz-form-item *ngIf="confirmMode">
            <nz-form-label for="code">
                enter the code from sms
            </nz-form-label>
            <nz-form-control [nzSpan]="14">
                <input type="number" nz-input name="code" id="code" formControlName="code" />
            </nz-form-control>
        </nz-form-item>
    </form>
</nz-modal>
