<nz-result *ngIf="loading" [nzIcon]="iconTmp" nzTitle="Загружаем сообщения">
    <ng-template #iconTmp>
        <i nz-icon [nzType]="'loading'"></i>
    </ng-template>
</nz-result>
<nz-result *ngIf="!loading && chats && !chats.length" nzIcon="smile-twotone" nzTitle="Пока что у вас нет сообщений"></nz-result>

<div class="chat" *ngIf="chats?.length">
    <app-chat-list
        [currentUser]="currentUser"
        [chats]="chats"
        [activeChat]="activeChat"
        (changeChat)="setActiveChat($event)"
    ></app-chat-list>
    <app-chat-messages
        [currentUser]="currentUser"
        [chat]="activeChat"
        [messages]="messages"
        (newMessage)="sendMessage($event)"
    ></app-chat-messages>
</div>
