<ng-container *ngIf="field?.params as params">
    <form nz-form nzLayout="vertical" class="input-text" [formGroup]="form">
        <nz-form-item>
            <nz-form-label [nzRequired]="field.required">{{ field.title }}</nz-form-label>
            <nz-form-control nzErrorTip="Обязательное поле">
                <input formControlName="value" nz-input [required]="field.required" [placeholder]="params.placeholder" />
            </nz-form-control>
        </nz-form-item>
    </form>
</ng-container>
