/* You can add global styles to this file, and also import other style files */

//@import '~ng-zorro-antd/ng-zorro-antd.min.css';
//@import '~@angular/cdk/overlay-prebuilt.css';
@import 'src/assets/styles/variables';

body {
    background-color: $background;
    color: $font-color;
    font-family: 'Roboto', sans-serif;
}

ul[class],
ol[class] {
    list-style: none;
    padding: 0;
}

img {
    max-width: 100%;
    display: block;
}

.container {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    padding: 0 $base-unit * 2;
}

.chat-body {
    top: $base-unit * 4;
    bottom: 0;
    height: calc(100vh - 64px);
    padding-bottom: 0;
}
