/* You can add global styles to this file, and also import other style files */

//@import '~ng-zorro-antd/ng-zorro-antd.min.css';
//@import '~@angular/cdk/overlay-prebuilt.css';
@import 'src/assets/styles/variables';

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 $base-unit * 2;
}

.chat-body {
    top: 32px;
    bottom: 0;
    height: calc(100vh - 64px);
    padding-bottom: 0;
}
