$base-unit: 8px;
$grey-light: #f0f0f0;
$grey-light-bg: rgba(0, 0, 0, 0.02);
$blue-border: #1890ff;
$blue-background: #e6f7ff;
$background: #f8f8f8;

$shadow: 0px 2px 25px rgba(0, 0, 0, 0.05);
$shadow-hover: 0px 2px 25px rgba(0, 0, 0, 0.2);

// primary colors
$primary-blue: #3281f6;
$primary-green: #6db603;
$primary-gray: #cacaca;
$primary-white: #fcfcfc;
$primary-red: #fe3478;
// font-colors
$font-color: #141414;
$font-color-gray: #4e4e4e;

// font-sizes
$font-14: 14px;
$font-16: 16px;
$font-18: 18px;

// border
$border-radius: 4px;
$border-color: #d7d7d7;
