<nz-page-header nzBackIcon (nzBack)="onBack()">
    <nz-page-header-title>Создание модели</nz-page-header-title>
    <nz-page-header-subtitle>Добавляйте и удаляйте поля которые будут отображены для того чтобы создать объявление</nz-page-header-subtitle>
    <nz-page-header-extra>
        <button (click)="save()" nz-button nzType="primary" nzShape="round"><i nz-icon nzType="save"></i>Сохранить</button>
    </nz-page-header-extra>
</nz-page-header>

<div class="create-model__content">
    <form *ngIf="!model" nz-form [formGroup]="modelForm" (submit)="createModel()">
        <nz-form-item [nzGutter]="8">
            <nz-form-control nzHasFeedback [nzSpan]="6" nzErrorTip="Обязательное поле">
                <input nzSize="large" nz-input formControlName="name" name="required" required placeholder="Имя модели" />
            </nz-form-control>
            <button nz-button nzType="primary" nzSize="large">Сохранить</button>
        </nz-form-item>
    </form>

    <h1 nz-typography *ngIf="model">{{ model.name }}</h1>

    <ng-container #fields></ng-container>

    <button nz-dropdown [disabled]="!model" [nzDisabled]="!model" nz-button [nzDropdownMenu]="menu" nzType="dashed">
        <i nz-icon nzType="plus"></i>
        Add field
    </button>
    <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul nz-menu>
            <li nz-menu-item (click)="addField('input_text')">Текстовое поле</li>
            <li nz-menu-item (click)="addField('text')">Поле для большого текста</li>
        </ul>
    </nz-dropdown-menu>
</div>
