<div class="textarea">
    <p nz-typography nzType="secondary" class="textarea__title">Текстовая область</p>
    <form nz-form nzLayout="vertical" [formGroup]="form">
        <nz-form-item class="textarea__item">
            <nz-form-control nzErrorTip="Обязательное поле">
                <input nz-input formControlName="label" name="label" required placeholder="Заголовок" />
            </nz-form-control>
        </nz-form-item>
        <nz-form-item class="textarea__item">
            <nz-form-control>
                <input nz-input formControlName="placeholder" name="placeholder" placeholder="Плейсхолдер" />
            </nz-form-control>
        </nz-form-item>
        <nz-row class="textarea__item" nzAlign="middle">
            <nz-col>
                <label nz-checkbox formControlName="required">Обязательное поле</label>
            </nz-col>
        </nz-row>
        <nz-row class="textarea__item" nzAlign="middle">
            <nz-col class="textarea__action-buttons" nzSpan="12">
                <button nz-button nzType="link" (click)="cancel()">Отмена</button>
            </nz-col>
            <nz-col nzSpan="12" class="textarea__action-buttons textarea__action-buttons--align-right">
                <button nz-button nzType="primary" (click)="save()" [nzLoading]="state === operationState.LOADING">OK</button>
            </nz-col>
        </nz-row>
    </form>
</div>
