@import '../../../../assets/styles/variables';

.reset {
    position: absolute;
    top: 50%;
    right: 80px;
    margin-top: -$base-unit;
    color: darkred;
    transform: rotate(45deg);
    z-index: 10;
}
