<ng-container *ngIf="field?.params">
    <form nz-form nzLayout="vertical" class="textarea" [formGroup]="form">
        <nz-form-item>
            <nz-form-label [nzRequired]="field?.required">{{ field?.title }}</nz-form-label>
            <nz-form-control [nzErrorTip]="errorRef">
                <textarea
                    *ngIf="!field?.params?.richTextEditor"
                    rows="4"
                    nz-input
                    formControlName="value"
                    [required]="field?.required"
                    [placeholder]="field?.params?.placeholder"
                ></textarea>
                <quill-editor
                    *ngIf="field?.params?.richTextEditor"
                    formControlName="value"
                    [required]="field?.required"
                    [styles]="{ height: '250px', width: '100%' }"
                ></quill-editor>
                <ng-template #errorRef let-control>
                    <ng-container *ngIf="control.hasError('required')">Обязательное поле</ng-container>
                    <ng-container *ngIf="control.hasError('maxlength')">Текст должен быть меньше 1000 символов</ng-container>
                </ng-template>
            </nz-form-control>
        </nz-form-item>
    </form>
</ng-container>
