<nz-page-header>
    <nz-page-header-title>Объявления</nz-page-header-title>
</nz-page-header>
<nz-radio-group [ngModel]="status" nzButtonStyle="solid" (ngModelChange)="changeStatus($event)" class="top-actions">
    <label nz-radio-button [nzValue]="productStatus.PENDING">В ожидании</label>
    <label nz-radio-button [nzValue]="productStatus.ACTIVE">Активные</label>
    <label nz-radio-button [nzValue]="productStatus.BLOCKED">Заблокированные</label>
    <label nz-radio-button [nzValue]="productStatus.COMPLETED">Завершенные</label>
</nz-radio-group>
<section class="actions-box" *ngIf="status">
    <button
        *ngFor="let action of getPossibleActions(status)"
        nz-button
        [disabled]="selectedItems.size === 0"
        (click)="bulkAction(action.actionName)"
    >
        <i nz-icon [nzType]="action.icon" nzTheme="outline"></i>{{ action.title }}
    </button>
</section>
<nz-table [nzTemplateMode]="true" nzSize="middle" class="table" [nzLoading]="loading">
    <thead>
        <tr>
            <th class="column-checkbox"></th>
            <th nzCustomFilter>
                Заголовок
                <nz-filter-trigger [nzDropdownMenu]="menu" [nzActive]="searchValue.length > 0">
                    <i nz-icon nzType="search"></i>
                </nz-filter-trigger>
            </th>
            <th>Статус</th>
            <th>Дата создания</th>
            <th>Категория</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of productResponse?.products">
            <td [nzChecked]="selectedItems.has(product.id)" (nzCheckedChange)="updateSelectedItems(product.id, $event)"></td>
            <td>
                <a [routerLink]="['/', 'products', product.id]">{{ product.title }}</a>
            </td>
            <td>{{ product.status }}</td>
            <td>{{ formatDate(product.createdAt) }}</td>
            <td>{{ getCategoryName(product.category_id) }}</td>
            <td>
                <ng-container *ngFor="let action of getPossibleActions(product.status); let last = $last">
                    <a (click)="action.action(product.id)">{{ action.title }}</a>
                    <nz-divider *ngIf="!last" nzType="vertical"></nz-divider>
                </ng-container>
            </td>
        </tr>
    </tbody>
</nz-table>
<app-pagination
    class="pagination"
    *ngIf="productResponse?.totalCount > productResponse?.limit"
    [pageIndex]="productResponse?.page"
    [totalItems]="productResponse?.totalCount"
    [pageSize]="productResponse?.limit"
    (changePage)="changePage($event)"
></app-pagination>

<nz-dropdown-menu #menu="nzDropdownMenu">
    <form (ngSubmit)="search()">
        <nz-input-group nzSearch [nzSuffix]="textAreaClearTpl" [nzAddOnAfter]="suffixIconButton">
            <input
                type="text"
                nz-input
                placeholder="Поиск по заголовку"
                [(ngModel)]="searchValue"
                [ngModelOptions]="{ standalone: true }"
            />
        </nz-input-group>
        <ng-template #suffixIconButton>
            <button nz-button type="submit" nzType="primary" nzSearch (click)="search()"><i nz-icon nzType="search"></i></button>
        </ng-template>
        <ng-template #textAreaClearTpl>
            <i
                *ngIf="searchValue.length"
                nz-icon
                class="ant-input-textarea-clear-icon"
                nzTheme="fill"
                nzType="close-circle"
                (click)="resetSearch()"
            ></i>
        </ng-template>
    </form>
</nz-dropdown-menu>
